					<div style="float:left; height:80px; width:400px;;border: 1px solid #ddd; color:#ddd; text-align:center;">
								DRAG OR RESIZE EITHER DESIGN
					</div>
					<div style="float:left; height:80px; width:220px;;border: 1px solid #ddd; color:#ddd; text-align:center;">
								DOUBLE CLICK EITHER DESIGN TO REPLACE IT WITH YOUR OWN
					</div>
                    