

<div id="specsheet_table"  style="background-repeat: no-repeat;margin:0px;padding:0px;">
      <div style="margin:0px; padding: 0px;min-width:425px;text-align:center;"   id="front_design_td">
             <span>  </span>
                        <img src="<%= @front_design_image_name %>"
                           id="front_design_image"
                          class="front_design_image"
                         alt="<%= @front_design_image_name %>"
                         style=" position: relative;
                         margin:0px;
                         padding:0px;
                         left:0px;
                         top:0px;
                         display:inline-block;
                         " />
	</div>
        
        <div style="margin:0px; padding: 0px;min-width:425px;text-align:center;"  id="back_design_td"  class="design_span">
              <span>  </span>

                       
                       <img src=" <%= @back_design_image_name  %>"
                         id="back_design_image"
                         class="back_design_image"
                         alt=""
                         style=" position: relative;
                         margin:0px;
                         padding:0px;
                         left:0px;
                         top:0px;
                         display:inline-block;
                         " />
             
	</div>

        <div style="margin:0px; padding: 0px;"  id="mask_td"  class="mask_span">
		<img src="<%=  @product_mask_image_name  -%>"
		 alt=''
		 style="
                 left: -850px;
                 position: relative;
                 height:328px;
		 top:0px;
                 margin:0px;
                 opacity: 1;
                  display:inline-block;
                 padding:0px; "
                  id="mask_image"
                 />
        </div>
</div>

<style type="text/css">
.mask_span {

    display: table-cell;
    text-align: center;
    vertical-align: top;
    width: 500px;
    height: 500px;
}
.mask_span * {
    vertical-align: top;
}
/*\*//*/
.mask_span {
    display: block;
}
.wraptocenter span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/
</style>
<!--[if lt IE 8]><style>
.mask_span span {
    display: inline-block;
    height: 100%;
}
</style><![endif]-->


<style type="text/css">
.design_span {

    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 500px;
    height: 500px;
}
.design_span * {
    vertical-align: middle;
}
/*\*//*/
.design_span {
    display: block;
}
.wraptocenter span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/
</style>
<!--[if lt IE 8]><style>
.design_span span {
    display: inline-block;
    height: 100%;
}
</style><![endif]-->



