


<%= render :partial => 'item_manager/item_standard_info' ,:locals => {:item => item_unmanaged } %>



<tr>
  <td style="background-color: lightgrey;height:40px;" colspan="20"> &nbsp;





  </td>
</tr>