

<div id="boldStuff">Are you sure you want to go to the work order details?  This will save your transaction as it is before going to the work order details.</div>


<a href="#" onclick="showScreen()">Cancel</a>



<a href="#" onclick="goToWorkOrderDetails()">Proceed to Work Order Details</a>



