

<div style="text-align: center;width: 850px;">
 <br><br>
<div>Are you sure you want to go to the work order details? <br>
  This will save your transaction as it is before going to the work order details.</div>
  <br><br>

 Order #:<div id="order_id"></div>

<div class="menu_button">
          <ul>
                    <li><a href="#" onclick="showScreen()">Cancel</a></li>
                    <li id="loaded_option"></li>
          </ul>
</div>







 </div>


