



<body onload="ConfirmControlSheetIndexStartup()" scroll="yes" STYLE="position:absolute; top:0px; left:0px; width:100%; height:100%; padding:0px; margin:0px; color:black;
 filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#8eb6d9', EndColorStr='#236B8E')">
                  <br ><br /><br />
                 <div style="width: 100%;text-align: center;">  <%=  image_tag "/images/search/ajax-spinner.gif" %></div>

 </body>