<% if admin? %>
    <div class='menu_admin'> 
    	<% if  @acceptable_item_ids %>
      		@acceptable_item_ids.nil?: <%=  @acceptable_item_ids.nil? %><br />
      		@acceptable_item_ids:<%=  @acceptable_item_ids.collect {|x| "," + x.to_s + "," } %><br />
      <% end %>
    </div>
<% end %>


<table id="search_results" cellpadding="0" cellspacing="0">
<div sytle="float:left;">
<%= image_tag "/images/headers/search_results.gif" %>

		<% if @items %>
		            <% @items.each do |item| %>
							
										 	<%= render(:partial => "shared_item/item",:locals => { :item => item } ) %>

					<% end %>
		 <% end %>
</table>
</div>

