<!DOCTYPE html>
<html lang="en">
    <head>
      <script src="/assets/jquery/jquery.js"></script>
      <script src="/assets/jquery/jquery_ujs.js"></script>
      <script src="/assets/jquery/array_utilities.js"></script>
      <script src="/assets/bootstrap.js"></script>
      <script src="/assets/responsive-tables.js"></script>
      <script src="/assets/jquery/bootstrap-slider.js"></script>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <script src="/assets/holder.js"></script>
      <script src="/assets/application/application_application.js"></script>

    </head>
    <body>

                <%= yield %>



    </body>
</html>


