<h1>Completed Item Specsheets</h1>

<div class="sublimation_content">
      <% @completed_item_specsheets.each do |name|     %>
                    <div class="sublimation_item">
                                <img alt="'<%= name %>" src="/sublimation_shirt/show/<%= name %>" />
                    </div>
      <% end  %>
</div>

