
<div class='menu_admin'> 
		<li>		
					<%= link_to 'Define Opposites' ,:controller => 'opposites',:action => 'define_category_class_opposite_categories'   %> 
		</li>
		<li>		
					<%= link_to 'List categories in a Category Class' ,:controller => 'opposites' ,:action => 'all_categories_in_this_class'   %> 
		</li>
		<li>		
					<%= link_to 'Category Class Organizer' ,:controller => 'opposites' ,:action => 'category_class_organizer'   %> 
		</li>
</div>