<% if admin?   %>
            <div id="add_to_cart" style="float: left;display:none;" class="x_choices">
              <div style="background-color:yellow;width:850px;text-align: left;">
                   ADD TO CART WILL GO HERE, IF ADMIN PRODUCTION LEVEL RMAGICK
              </div>
            </div>
<% else  %>
            <div id="add_to_cart" style="float: left;display:none;" class="x_choices">
              <div style="width:850px;text-align: left;">

                          ADD TO CART INFO GOES HERE

              </div>
            </div>
<% end  %>