
<% if  @item.category.category_class.item_type == 'all_over_item' %>
                 <% if params[:item_type] == 'all_over_design'   %>
                                 <% background_choices_visibility = 'none' %>
                                <% back_choices_visibility = 'none' %>
                <% else  %>
                                <% back_choices_visibility = 'inline-block' %>
                                <% background_choices_visibility = 'inline-block' %>
                <% end %>
                <% front_design_tab_text = 'Design' %>
<% else %>
              <% background_choices_visibility = 'none' %>
              <% back_choices_visibility = 'inline-block' %>
              <% front_design_tab_text = 'Front Design' %>
<% end  %>


<div class="advanced_choices_menu">
        <ul id="tabs_advanced_choices_menu" class="subsection_tabs">

          <%    if admin?  %>
            <li class="tab"><a id="administration_choices_tab_a" href="#administration_choices">Administration</a></li>
            <% end  %>

            <li class="tab" style="display:<%= background_choices_visibility %>;"><a id="background_choices_tab_a" href="#background_choices">Background</a></li>

            <li class="tab"><a  id="front_choices_tab_a" href="#front_choices"> <%= front_design_tab_text  %></a></li>

            <li class="tab"><a  id="back_choices_tab_a" href="#back_choices"  style="display:<%= back_choices_visibility %>;">Back Design</a></li>

            <li class="tab"><a  id="product_choices_tab_a" href="#product_choices">Product Choice</a></li>
            <li class="tab"><a  id="details_tab_a" href="#details">Details</a></li>
        </ul>
</div>


