<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#"><%= image_tag "dixieoutfitters-logo.png" %></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Designs<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Dixie Outfitters", "/store/test", :remote=>:true %></li>
              <li><a href="#">Dixie Boys</a></li>
              <li><a href="#">Dixie Girls</a></li>
              <li><a href="#">Dixie Baby</a></li>
              <li><a href="#">Southern Heritage Dixie</a></li>
              <li><a href="#">Straight from the South</a></li>
              <li class="divider"></li>
              <li class="nav-header">Other Southern Brands</li>
              <li><a href="#">Legends of the Confederacy</a></li>
              <li><a href="#">Straight from the South</a></li>
              <li><a href="#">Tropical Soul</a></li>
              <li><a href="#">All Over Shirts</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Men's</a></li>
              <li><a href="#">Women's</a></li>
              <li><a href="#">Youth Girl</a></li>
              <li><a href="#">Boy's</a></li>
              <li><a href="#">Youth Girl</a></li>
              <li class="divider"></li>
              <li class="nav-header">Other Products</li>
              <li><a href="#">Merchandise</a></li>
              <li><a href="#">All Over Shirts</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Articles <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">About Us</a></li>
              <li class="divider"></li>
              <li><a href="#">Mission</a></li>
              <li><a href="#">Resources</a></li>
              <li><a href="#">Heritage News</a></li>
              <li><a href="#">Interesting Email</a></li>
              <li><a href="#">Southern History</a></li>
              <li><a href="#">Recently Added</a></li>

              <li class="nav-header">Other Links</li>
              <li><a href="#">Southern Heritage 411</a></li>
              <li><a href="#">Facebook Group</a></li>
              <li><a href="#">Facebook Page</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-search pull-left">
          <input type="text" class="search-query" placeholder="Search">
        </form>
        <form class="navbar-form pull-right">
          <input class="span2" type="text" placeholder="Email">
          <input class="span2" type="password" placeholder="Password">
          <button type="submit" class="btn">Sign in</button>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
