
            <div id="price" style="float: left;display:none;" class="x_choices">
              <div style="width:850px;text-align: left;">

                                              STANDARD PRICING INFORMATION GOES IN HERE

              </div>
            </div>
