<!--   #######################  BEGIN ARTICLES  PANEL   ####################### -->
<!--   #######################  BEGIN ARTICLES  PANEL   ####################### -->
<!--   #######################  BEGIN ARTICLES  PANEL   ####################### -->
<!--   #######################  BEGIN ARTICLES  PANEL   ####################### -->
<% @excluded_from_menu =  ['home', 'catalog', 'shopping','new-home']         %>
<div class="left-panel"   data-role="panel" id="pages_panel" data-position="left" data-display="reveal" data-theme="a">
              <div class="ui-panel-inner">
                                    <ul data-role="listview">
                                                  <li data-icon="delete"><a href="#" data-rel="close">Close</a></li>
                                                  <li><a href="/account">Account</a></li>
                                                   <li><a href="/p/index">Browse Articles</a></li>
                                                   <li><a href="/store">Shop</a></li>
                                                   <li><a href="/cart">Cart</a></li>
                                                   <li data-icon="search"><a href="/search">Search</a></li>
                                                   <!--<li data-icon="gear"><a href="/search/scroll">Scroll</a></li>-->
                                                   <li><a href="/order_tracking">Track Order </a></li>
                                                  <li><a href="/p/recently-added">Recently Added</a></li>
                                                  <li data-icon="phone"><a href="tel:+ <%= @website.phone %>"> <%= @website.phone %></a> </li>
                                    </ul>
              </div>
</div>
<!--   #######################  END ARTICLES  PANEL   ####################### -->
<!--   #######################  END ARTICLES  PANEL   ####################### -->
<!--   #######################  END ARTICLES  PANEL   ####################### -->
<!--   #######################  END ARTICLES  PANEL   ####################### -->
<!--   #######################  END ARTICLES  PANEL   ####################### -->
