
<div id="product_container_div">

            	<table id="purchase_table" class="purchase_table">
                  <tr>
                                            <th  class="purchases_entry_delete_printable">.</th>
                                            <th  class="purchases_entry_master_image_printable">Item</th>
											<th  class="purchases_entry_slave_image_printable">Design</th>
                                            <th  class="purchases_entry_quantity_printable">Quantity</th>
                                            <th  class="purchases_entry_itemlookupcode_printable">Item lookup code</th>
                                            <th  class="purchases_entry_symbiont_description_printable">Description</th>
                                            <th  class="purchases_entry_full_unit_price_printable">Unit price:</th>
                                            <th  class="purchases_entry_full_extended_price_printable">Extended price</th>
                  </tr>

                        <% if  @your_purchases_entries %>
                                            <% @your_purchases_entries.each do |purchases_entry|   %>
									
															<%  if purchases_entry.opposite_entry == false  %>
		                                                            			<%= render(:partial => "purchases/purchases_entry",:locals => { :purchases_entry => purchases_entry } ) %>
															<%  else  %>		
																			<% if purchases_entry.master_entry == true %>
																				<%= render(:partial => "purchases/purchases_entry_symbiont",:locals => { :purchases_entry => purchases_entry } ) %>
																			<%  end  %>	
																				
															<% end %>		
                                            <% end %>
                       <% end %>

                        </table>
</div>
