
<h3>
<%= link_to "Blocked Ips", :controller => "blocked_ips",:action => "index" %> | 

<%= link_to "Blocked Keywords", :controller => "blocked_keywords",:action => "index" %> | 

<%= link_to "Affiliate Reserved Ips", :controller => "reserved_ips",:action => "index" %><br />

</h3>