<div class="account_menus">
          <ul>
                <li><%= link_to "Affiliate Area", :controller => "affiliates"  %></li>
                <li><%= link_to "Order Tracking", :controller => "order_tracking"   %></li>
                <li><%= link_to "Your Cart", :controller => "cart"  %></li>
                <li><%= link_to "Account", :controller => 'account'   -%></li>
          </ul>
</div>