
<div id="search_results_container" style="text-align:left;min-height:200px;background-color:white;display:table;">



<div style="width:850px;text-align:center;font-size:17px;">
                <div style="font-size:17px;">
                                  Search found <%= @revisions.size %>   results.<br />
                 </div>
</div>


<%= render :partial => "/advanced_main_menu/revision", :collection => @revisions %>




            

</div>


