<div id="search_progress"  style="display:none;"">


            <div id="search_results_container" style="min-height:200px;background-color:white;">
            <br /><br />


             <div style="width:850px;text-align:center;">
                                        <div style="font-size:17px;">
                                                    Please wait. Search in progress.<br />
                                                    <%= image_tag( '/images/icons/progress-bar.gif'   ) %>
                                         </div>
            </div>


            </div>


</div>
