
<div style="border:solid black 1px;width:80%;height:50%;float:left;padding:5px;margin:5px;">


1. Ask Customer for their email address to look up their customer recordss.

2. Creating Customers with no email address is discouraged because our system uses email address as a unique identifier for that customer.



</div>