




<div id='volume_discount_message'>

<% if @volume_discount_percentage  %>
A volume discount of <%= @volume_discount_percentage  %> %  was applied to your order. Click here to find out about our permanent discounts!
<% end  %>

</div>




