<li class="category_li_new">
	<div id="create_new_category" style="float:left;">
		 <%= link_to(     image_tag( "/images/buttons/plus-green.png",:height => "20",:alt => 'create_new_category') + " New Category"     )         %>
	</div> 
</li>

