<div class="categories_description" id="categories_description">
			<%=  image_tag("/images/category_description_headers/" + @website.name + "-" + Util::Slug.generate(@department.Name.to_s) + "-" + Util::Slug.generate(@category.Name.to_s) + ".jpg", :border => 0)  -%>
			<%=  image_tag("/images/category_description_headers/category-please-choose.jpg")  -%>
</div>



