<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @design_specific_breast_print.name %>
</p>


<%= link_to 'Edit', edit_design_specific_breast_print_path(@design_specific_breast_print) %> |
<%= link_to 'Back', design_specific_breast_prints_path %>
