
<% if @items -%>
	<% cache (  @website.name + "/user_type_id/" + @user_array_user_type_id + "/shared_item/item_list_thumbnails/purchase_symbiote_item_category_category_class_id/" + @purchase_symbiote_item_category_category_class_id  ) do %>
				<%   @acceptable_item_ids.to_a.sort.collect {|x|  "," + x.to_s + "," }  -%>
					<div class="item_list_thumbnails_container">
				            <% @items.each do |item| %>
					             		<%  if     @acceptable_item_ids.flatten.include?(item.id.to_i) -%>
												<%= render(:partial => "shared_item/item_list_thumbnail",:locals => { :item => item } ) -%>
									   <% end -%>
							<% end -%>
					</div>
	<% end -%>
<% else -%>
					<% if @items_content_fragment -%>
							<%= @items_content_fragment  -%>
					<% else -%>	
							No Items found. <br />
					<% end -%>
<% end -%>

