


<h1>
<%= render :partial => "shared/flash" %>
</h1>




	<h3> This will sort the order by ItemLookupCode and cannot be undone! Are you sure? </h3>

	<h3> This will also save any changes you Just made to the quote.  </h3>
	
	<h3>After you hit the button below, click "No" when it asks if you want to print a receipt. Then wait for the screen to change to... </h3>
	
	<h3>"Finished sorting Quote... Recall the quote by pressing the button." </h3>
	
	

	
	
	
	
	<h3> <div id='boldStuff' align="center">Quote Id not found</div> </h3>
	 
