<div style="border:solid black 1px;width:100%;height:70px;float:left;padding:5px;margin:5px;">

	<div style="float:left;width:500px;">
		Search:	
		<%  form_remote_tag :url => 'add_to_cart'  do %>
		<%=    text_field_tag  "user_keywords"  %>
		<%= observe_field :user_keywords, :frequency => 5, :update => 'user_rows',  :url => { :action => 'find_user' } ,  :with => 'user_keywords'  %>
		<% end %>
	</div>
	<div style="float:left;">	
		<%= link_to 'Create New user', new_user_path %>

	</div>

</div>

<div style="border:solid black 1px;float:left;padding:5px;margin:5px;width:100%;">
	
	<table>
		<th>Email </th>
		<th>Account # </th>
		<th>Company </th>
		<th>First Name </th>
		<th>Last Name </th>
		<th>Price Level </th>
		<tbody id="user_rows">
	
	  			 <%= render :partial => "/users/user", :collection => @users %>
	  			 
	
	
	
		</tbody>
		</table>


</div>