
<div style="size:medium;border:solid black 1px;width:80%;height:50%;float:left;padding:5px;margin:5px;">



<h4> Finding User/Customers </h4>

Hit Esc (Escape) to go back to the transaction screen. <br />
This system is being designed to tell you your next step or button to press to get the best information from our users/customers. <br />
Internet Username is the Customer's Email Address.<br />

A Customer is one without a Internet User (maybe this person has no email address or has not given us one before). They are found by going to "Set Customer"<br />

A User can log in our website and is distinctly identified by his email address. They are found by going to "LIST USERS".<br />

<br />
Ask Customer if they have ordered from us before. <br />
If they have ordered before, ask Customer for their email address to look up their User using "LIST USERS".  <br />
If no User is found or they do not have a Email Address, then go to "Set Customer" and try to find them (this searches customers with no internet user). <br />
If you go to "Set Customer" and they are still not found, create a new User with the "NEW USER" Command button if they have an Email Address.
(Use the built in "new" button in the set customer screen ONLY if they don't have an Email Address. This will not make them an internet user.) <br />
If you go to "Set Customer" and they ARE found, then when you load them onto the order, the system will tell you how to proceed if they have an email address to get them a Internet Username.<br />
<br />

<h4> New User/Customers </h4>

An Email Address is required to make a new User. Before you start filling out customer information, always ask the customer for their email address to see if you need to make them a "NEW USER" or "Set Customer"  <br />
Unless the website is down or the customer has no email address, never create a new customer using "Set Customer" because this will not create an Internet User for them. <br />
If you are forced to create a customer using "Set Customer" you can make them an Internet User later returning to one of that customers orders (or creating a fake temporary one) and going to "CREATE USER FROM CUSTOMER".<br />
For security purposes, users are allowed to change thier password. If they forget thier password they can also reset their password themselves using the "Forgot Password" button in the login area of the website. You can also 
reset their password if they request you to do so. To do this go to "LIST USERS" and hit "reset password".<br />






</div>