<% @already_shipped = false %>

<style type="text/css">
    .modal-backdrop {
        position: fixed;
    }
</style>

<a href="/users/sales_shipping_entries">Home</a>
- <a href="/users/sales_shipping_entries?on_hold_purchases=1">On hold </a>
- <a href="/users/on_hold_entries?type=out_of_stock_transfers">Out of stock transfers </a>
- <a href="/users/on_hold_entries?type=out_of_stock_garments">Out of stock garments </a>
- <a href="/users/on_hold_entries?type=out_of_stock_other">Out of stock other </a>


<div style="border:solid black 1px;width:95%;height:160px;float:left;padding:5px;margin:5px;">

	<div style="display:table;height:50px;width:95%;">
		Search:	

		<%=    text_field_tag  "sales_shipping_entries_keywords"  %>
		<a data-theme="b" data-role="button" href="#" id="search_sales_shipping_entries">Search sales shipping entries</a>     You may search by FullName, AccountNumber, Email, Quote# or Transaction#

	</div>


</div>

<div style="border:solid black 1px;float:left;padding:5px;margin:5px;width:95%;">
	
	<table>
		<th>Quote #/Transaction # </th>
		<th>SaleTime</th>
		<th>Shipping Date Processed</th>
        <th>ReferenceNumber </th>
		<tbody id="sales_shipping_entries_rows">

	  			 <%= render :partial => "users/sales_shipping_entry", :collection => @sales_shipping_entries, :already_shown_purchase_ids => @already_shown_purchase_ids %>
	  			 
	
	
	
		</tbody>
		</table>


</div>


<script type="text/javascript"><!--
$('#search_sales_shipping_entries').bind('click', function() {
    $.ajax({
        url: '/users/search_sales_shipping_entries',
        type: 'post',
        data: $('#sales_shipping_entries_keywords') ,
        success: function(response)
    {
        $("#sales_shipping_entries_rows").html(response) ;
    }
    });
});
//--></script>