<table cellspacing="0" cellpadding="0" border="0" class="PageWidth">
		<tbody><tr>
		      
		    
	        <td width="100%" valign="top" style="text-align: left;" class="FontM">
                
	        <br/>
	            
<table cellspacing="0" cellpadding="0" border="0" class="FontM">
	<tbody><tr>
		<td><img width="14" height="14" src="Images/group.gif" alt="Your Downline Network"/></td>
		<td> <strong>Your Downline Network</strong></td>
	</tr>
</tbody></table>
<br/>
To increase your earnings and add more affiliates to your downline,<br/>
send this link to your website visitors:<br/>
<span style="font-weight: bold;" id="ctl00_ContentPlaceHolder1_Label1">http://ASPXSoftware.com/demo/dotnet2/affiliate/default.aspx?aft=john</span><br/>
<br/>
<div id="ctl00_ContentPlaceHolder1_Panel1">
	
	<table width="100%" cellspacing="0" cellpadding="0" border="0" class="FontM">
		<tbody><tr class="TableRowAlternate">
			<td style="">
				<table height="21" cellspacing="0" cellpadding="0" border="0" class="FontM">
					<tbody><tr>
						<td style=""> <strong>Level 2:</strong> </td>
						<td style="">2 members, </td>
						<td style="">$11 Earnings</td>
						<td><div style="display: none;" id="ctl00_ContentPlaceHolder1_UpdateProgress1">
		<img width="16" height="16" style="padding-top: 2px; padding-left: 5px;" src="Images/loading.gif"/>
	</div></td>
					</tr>
				</tbody></table>
			</td>
		</tr>
		<tr>
			<td>
			<div id="ctl00_ContentPlaceHolder1_UpdatePanel1">
		
			    <table cellspacing="0" border="0" style="border-collapse: collapse;" id="ctl00_ContentPlaceHolder1_DataList1">
			<tbody><tr>
				<td valign="top">
						<a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$DataList1$ctl00$button1','')" id="ctl00_ContentPlaceHolder1_DataList1_ctl00_button1"><img width="12" vspace="4" hspace="3" height="14" border="0" alt="james" src="images/face1s.gif"/></a>
					</td><td valign="top">
						<a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$DataList1$ctl01$button1','')" id="ctl00_ContentPlaceHolder1_DataList1_ctl01_button1"><img width="12" vspace="4" hspace="3" height="14" border="0" alt="deanna" src="images/face1s.gif"/></a>
					</td><td valign="top">
						<a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$DataList1$ctl02$button1','')" id="ctl00_ContentPlaceHolder1_DataList1_ctl02_button1"/>
					</td>
			</tr>
		</tbody></table>
                    
	</div>
				</td>
		</tr>
	</tbody></table>

</div>
<div id="ctl00_ContentPlaceHolder1_Panel2">
	
	<table width="100%" cellspacing="0" cellpadding="0" border="0" class="FontM">
		<tbody><tr class="TableRowAlternate">
			<td style="">
				<table height="21" cellspacing="0" cellpadding="0" border="0" class="FontM">
					<tbody><tr>
						<td style=""> <strong>Level 3:</strong> </td>
						<td style="">3 members, </td>
						<td style="">$2 Earnings</td>
						<td><div style="display: none;" id="ctl00_ContentPlaceHolder1_UpdateProgress2">
		<img width="16" height="16" style="padding-top: 2px; padding-left: 5px;" src="Images/loading.gif"/>
	</div></td>
					</tr>
				</tbody></table>
			</td>
		</tr>
		<tr style="background-color: white;">
			<td>
			<div id="ctl00_ContentPlaceHolder1_UpdatePanel2">
		
				<table cellspacing="0" border="0" style="border-collapse: collapse;" id="ctl00_ContentPlaceHolder1_Datalist2">
			<tbody><tr>
				<td valign="top">
						<a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Datalist2$ctl00$Linkbutton1','')" id="ctl00_ContentPlaceHolder1_Datalist2_ctl00_Linkbutton1"><img width="12" vspace="4" hspace="3" height="14" border="0" alt="jeremy" src="images/face1s.gif"/></a>
					</td><td valign="top">
						<a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Datalist2$ctl01$Linkbutton1','')" id="ctl00_ContentPlaceHolder1_Datalist2_ctl01_Linkbutton1"><img width="12" vspace="4" hspace="3" height="14" border="0" alt="sherry" src="images/face1s.gif"/></a>
					</td><td valign="top">
						<a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Datalist2$ctl02$Linkbutton1','')" id="ctl00_ContentPlaceHolder1_Datalist2_ctl02_Linkbutton1"><img width="12" vspace="4" hspace="3" height="14" border="0" alt="brian" src="images/face1s.gif"/></a>
					</td>
			</tr>
		</tbody></table>
				
	</div></td>
		</tr>
	</tbody></table>

</div>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="FontM">
	
	<tbody><tr style="background-color: white;">
		<td>
		<div id="ctl00_ContentPlaceHolder1_UpdatePanel3">
	
			
			
</div></td>
	</tr>
</tbody></table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="FontM">
	
	<tbody><tr style="background-color: white;">
		<td>
		<div id="ctl00_ContentPlaceHolder1_UpdatePanel4">
	
		
			
</div></td>
	</tr>
	
</tbody></table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="FontM">
	
	<tbody><tr style="background-color: white;">
		<td>
		<div id="ctl00_ContentPlaceHolder1_UpdatePanel5">
	
		    
			
</div></td>
	</tr>
	
</tbody></table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="FontM">
	
	<tbody><tr style="background-color: white;">
		<td>
		<div id="ctl00_ContentPlaceHolder1_UpdatePanel6">
	
		    
			
</div></td>
	</tr>
	
</tbody></table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="FontM">
	
	<tbody><tr style="background-color: white;">
		<td>
		<div id="ctl00_ContentPlaceHolder1_UpdatePanel7">
	
		    
			
</div></td>
	</tr>
	
</tbody></table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="FontM">
	
	<tbody><tr style="background-color: white;">
		<td>
		<div id="ctl00_ContentPlaceHolder1_UpdatePanel8">
	
		    
			
</div></td>
	</tr>
	
</tbody></table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="FontM">
	
	<tbody><tr style="background-color: white;">
		<td>
		<div id="ctl00_ContentPlaceHolder1_UpdatePanel9">
	
		    
			
</div></td>
	</tr>
	
</tbody></table>


	        </td>
		    
		</tr>
		</tbody></table>