   	
<h3> Notifications </h3>
<h4>Notifications allow you to set the option to receive emails notifying you about your sales and subaffiliate sign-ups.</h4>

Sub-affiliate sign-up <br /> 	   	
 X Email notification is sent when your new subaffiliate (2nd tier) joins the affiliate program. <br />
After sale 	 <br />	
 X Email notification is sent after the sales transaction is registered. <br />
On subaffiliate sale 		 <br />
 X Email notification is sent after your subaffiliate (2nd tier) makes a sale. <br />
Daily report 		 <br />
 X Daily report is sent every day with statistics of the day traffic and sales. <br />
Weekly report 		 <br />
 X Weekly report is sent every week with the statistics of the week's traffic and sales. <br />
  It is sent on the day specified in "report sent on" and contains data from the previous complete week.
   The first day of week can be specified in "week starts at". <br />
Monthly report 	 <br />	
 X Monthly report is sent every month with the statistics of the month's traffic and sales. It is sent on a day specified in "report sent on" and contains data from previous month. e.g. If "report sent on" is set to 31 and month has only 30 days, then the report is sent on the last dey of the month. It is recommended that you set "report sent on" to one of the first days of month, so that data in report is current.