<table cellspacing="0" cellpadding="0" border="0" class="PageWidth">
		<tbody><tr>
		      
		    
	        <td width="100%" valign="top" style="text-align: left;" class="FontM">
                
	        <br/>
	            
<table cellspacing="0" cellpadding="0" border="0" class="FontM">
	<tbody><tr>
		<td><img width="14" height="14" alt="" src="Images/stats.gif"/></td>
		<td> <strong>Statistics Reports</strong></td>
	</tr>
</tbody></table>
<br/>

<table width="100%" cellspacing="1" cellpadding="3" border="0" class="TableHeader">
<tbody><tr>
	<td align="center">
	<table cellspacing="0" cellpadding="0" border="0" class="TableHeader">
	<tbody><tr>
		<td class="FontM">Month: </td>
		<td class="FontM"><select id="ctl00_ContentPlaceHolder1_FromMonth" name="ctl00$ContentPlaceHolder1$FromMonth" size="1">
	<option value="0" selected="selected">All</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>

</select></td>
		<td class="FontM">   Year: </td>
		<td class="FontM"><select id="ctl00_ContentPlaceHolder1_FromYear" name="ctl00$ContentPlaceHolder1$FromYear" size="1">
	<option value="2008">2008</option>
	<option value="2007">2007</option>

</select></td>
		<td class="FontM">   Sort by: </td>
		<td class="FontM"><select id="ctl00_ContentPlaceHolder1_Sort" name="ctl00$ContentPlaceHolder1$Sort" size="1">
	<option value="HDate">Date</option>
	<option value="Hits">Clicks</option>
	<option value="Leads">Leads</option>
	<option value="Sales">Sales</option>
	<option value="earn">Amount</option>
	<option value="referurl">Referral</option>
	<option value="Banner">Link ID</option>

</select></td>
		<td class="FontM">   <input type="submit" style="width: 150px;" class="button" id="ctl00_ContentPlaceHolder1_btSubmit" value="Show Report" name="ctl00$ContentPlaceHolder1$btSubmit"/></td>
	</tr>
	</tbody></table>
	</td>
</tr>
</tbody></table>
			
<object width="780" height="160" viewastext="" id="Chart2" codebase="http://download.macromedia.com/pub/shockwave/cabs/
flash/swflash.cab#version=6,0,0,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
<param value="http://www.aspxsoftware.com/FlashCharts/MSColumn3DLineDY.swf" name="movie"/>
<param value="&chartWidth=780&chartHeight=160&&dataXML=<graph pyaxisname='SALES' syaxisname='CLICKS' showvalues='0' rotatenames='0' showanchors='0' decimalprecision='2' limitsdecimalprecision='0' divlinedecimalprecision='0' hovercapsepchar=' ' showshadow='1' linethickness='1' shownames='1' linealpha='100' shadowalpha ='10' canvasbasedepth='6' shadowxshift='1' shadowyshift='1'  shadowcolor='1F4175'>
<categories>
<category name='Jan'/>
<category name='Feb'/>
<category name='Mar'/>
<category name='Apr'/>
<category name='May'/>
<category name='Jun'/>
<category name='Jul'/>
<category name='Aug'/>
<category name='Sep'/>
<category name='Oct'/>
<category name='Nov'/>
<category name='Dec'/>

</categories>
<dataset seriesname='' showvalue='1' numberprefix='$' >
<set value='130' color='AFD8F8'/>
<set value='0' color='F6BD0F'/>
<set value='0' color='8BBA00'/>
<set value='0' color='A66EDD'/>
<set value='0' color='F984A1'/>
<set value='0' color='CCCC00'/>
<set value='0' color='999999'/>
<set value='0' color='0099CC'/>
<set value='0' color='FF0000'/>
<set value='0' color='006F00'/>
<set value='0' color='0099FF'/>
<set value='0' color='FF66CC'/>

</dataset>
<dataset seriesname='' showvalue='1' color='333366' parentyaxis='S' numbersuffix=' clicks' anchorsides='12' anchorradius='0' anchorbordercolor='0E0E30'>
<set value='12'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>

</dataset>
</graph>" name="FlashVars"/>
<param value="high" name="quality"/>
<param value="#FFFFFF" name="bgcolor"/>
<embd _moz-userdefined="" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" name="FC_2_3_Column3D" height="160" width="780" bgcolor="#FFFFFF" quality="high" flashvars="&chartWidth=780&chartHeight=160&dataXML=<graph pyaxisname='SALES' syaxisname='CLICKS' showvalues='0' rotatenames='0' showanchors='1' decimalprecision='2' limitsdecimalprecision='0' divlinedecimalprecision='0' hovercapsepchar=' ' showshadow='1' linethickness='1' shownames='1' linealpha='100' shadowalpha ='80' canvasbasedepth='6' shadowxshift='1' shadowyshift='1'  shadowcolor='1F4175'>
<categories>
<category name='Jan'/>
<category name='Feb'/>
<category name='Mar'/>
<category name='Apr'/>
<category name='May'/>
<category name='Jun'/>
<category name='Jul'/>
<category name='Aug'/>
<category name='Sep'/>
<category name='Oct'/>
<category name='Nov'/>
<category name='Dec'/>

</categories>
<dataset seriesname='' showvalue='1' numberprefix='$' >
<set value='130' color='AFD8F8'/>
<set value='0' color='F6BD0F'/>
<set value='0' color='8BBA00'/>
<set value='0' color='A66EDD'/>
<set value='0' color='F984A1'/>
<set value='0' color='CCCC00'/>
<set value='0' color='999999'/>
<set value='0' color='0099CC'/>
<set value='0' color='FF0000'/>
<set value='0' color='006F00'/>
<set value='0' color='0099FF'/>
<set value='0' color='FF66CC'/>

</dataset>
<dataset seriesname='' showvalue='1' color='333366' parentyaxis='S' numbersuffix=' clicks' anchorsides='12' anchorradius='0' anchorbordercolor='0E0E30'>
<set value='12'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>
<set value='0'/>

</dataset>
</graph>" src="http://www.aspxsoftware.com/FlashCharts/MSColumn3DLineDY.swf"/></object>
<div style="text-align: center;">
<table cellspacing="0" cellpadding="0" border="0" class="FontM">
<tbody><tr>
<td><img width="14" height="14" alt="" src="Images/stats.gif"/></td>
<td> - <strong>Sales</strong></td>
<td>     </td>
<td><img width="14" height="14" alt="" src="Images/stats3.gif"/></td>
<td> - <strong>Clicks</strong></td>
</tr>
</tbody></table>
</div>	
<br/>

<table rules="all" cellspacing="1" cellpadding="3" border="0" style="border-style: solid; border-width: 0px; width: 100%;" id="ctl00_ContentPlaceHolder1_DataGrid1" class="TableClass">
	<tbody><tr align="center" style="font-weight: bold;" class="TableHeader">
		<td>Clicks</td><td>Leads</td><td>Sales</td><td>Referred by</td><td>Link ID</td><td>Description</td><td>Date / Time</td><td>Earned</td>
	</tr><tr class="TableRow">
		<td align="center" class="fontS">
				<div style="">1</div>
			</td><td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS">
				<div style="">$0</div>
			</td><td class="fontS2">
				<div style=""><a target="_blank" href="http://"/></div>
			</td><td align="center" class="fontS">
				<div style="">4</div>
			</td><td align="center" class="fontS2">
				<div style="">0</div>
			</td><td align="center" class="fontS2">
				<div style="">1/1/2008 12:00:00 AM</div>
			</td><td align="center" style="font-weight: bold;" class="fontS">
				<div style="">$0</div>
			</td>
	</tr><tr class="TableRowAlternate">
		<td align="center" class="fontS">
				<div style="">1</div>
			</td><td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS">
				<div style="">$0</div>
			</td><td class="fontS2">
				<div style=""><a target="_blank" href="http://"/></div>
			</td><td align="center" class="fontS">
				<div style="">4</div>
			</td><td align="center" class="fontS2">
				<div style="">0</div>
			</td><td align="center" class="fontS2">
				<div style="">1/1/2008 12:00:00 AM</div>
			</td><td align="center" style="font-weight: bold;" class="fontS">
				<div style="">$0</div>
			</td>
	</tr><tr class="TableRow">
		<td align="center" class="fontS">
				<div style="">1</div>
			</td><td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS">
				<div style="">$0</div>
			</td><td class="fontS2">
				<div style=""><a target="_blank" href="http://"/></div>
			</td><td align="center" class="fontS">
				<div style="">4</div>
			</td><td align="center" class="fontS2">
				<div style="">0</div>
			</td><td align="center" class="fontS2">
				<div style="">1/2/2008 12:00:00 AM</div>
			</td><td align="center" style="font-weight: bold;" class="fontS">
				<div style="">$0</div>
			</td>
	</tr><tr class="TableRowAlternate">
		<td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS">
				<div style="">$50.87</div>
			</td><td class="fontS2">
				<div style=""><a target="_blank" href="http://"/></div>
			</td><td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS2">
				<div style="">CD1</div>
			</td><td align="center" class="fontS2">
				<div style="">1/2/2008 10:46:00 AM</div>
			</td><td align="center" style="font-weight: bold;" class="fontS">
				<div style="">$15.26</div>
			</td>
	</tr><tr class="TableRow">
		<td align="center" class="fontS">
				<div style="">1</div>
			</td><td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS">
				<div style="">$0</div>
			</td><td class="fontS2">
				<div style=""><a target="_blank" href="http://"/></div>
			</td><td align="center" class="fontS">
				<div style="">4</div>
			</td><td align="center" class="fontS2">
				<div style="">0</div>
			</td><td align="center" class="fontS2">
				<div style="">1/3/2008 12:00:00 AM</div>
			</td><td align="center" style="font-weight: bold;" class="fontS">
				<div style="">$0</div>
			</td>
	</tr><tr class="TableRowAlternate">
		<td align="center" class="fontS">
				<div style="">1</div>
			</td><td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS">
				<div style="">$0</div>
			</td><td class="fontS2">
				<div style=""><a target="_blank" href="http://"/></div>
			</td><td align="center" class="fontS">
				<div style="">4</div>
			</td><td align="center" class="fontS2">
				<div style="">0</div>
			</td><td align="center" class="fontS2">
				<div style="">1/4/2008 12:00:00 AM</div>
			</td><td align="center" style="font-weight: bold;" class="fontS">
				<div style="">$0</div>
			</td>
	</tr><tr class="TableRow">
		<td align="center" class="fontS">
				<div style="">1</div>
			</td><td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS">
				<div style="">$0</div>
			</td><td class="fontS2">
				<div style=""><a target="_blank" href="http://"/></div>
			</td><td align="center" class="fontS">
				<div style="">4</div>
			</td><td align="center" class="fontS2">
				<div style="">0</div>
			</td><td align="center" class="fontS2">
				<div style="">1/4/2008 12:00:00 AM</div>
			</td><td align="center" style="font-weight: bold;" class="fontS">
				<div style="">$0</div>
			</td>
	</tr><tr class="TableRowAlternate">
		<td align="center" class="fontS">
				<div style="">1</div>
			</td><td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS">
				<div style="">$0</div>
			</td><td class="fontS2">
				<div style=""><a target="_blank" href="http://"/></div>
			</td><td align="center" class="fontS">
				<div style="">4</div>
			</td><td align="center" class="fontS2">
				<div style="">0</div>
			</td><td align="center" class="fontS2">
				<div style="">1/5/2008 12:00:00 AM</div>
			</td><td align="center" style="font-weight: bold;" class="fontS">
				<div style="">$0</div>
			</td>
	</tr><tr class="TableRow">
		<td align="center" class="fontS">
				<div style="">1</div>
			</td><td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS">
				<div style="">$0</div>
			</td><td class="fontS2">
				<div style=""><a target="_blank" href="http://"/></div>
			</td><td align="center" class="fontS">
				<div style="">4</div>
			</td><td align="center" class="fontS2">
				<div style="">0</div>
			</td><td align="center" class="fontS2">
				<div style="">1/6/2008 12:00:00 AM</div>
			</td><td align="center" style="font-weight: bold;" class="fontS">
				<div style="">$0</div>
			</td>
	</tr><tr class="TableRowAlternate">
		<td align="center" class="fontS">
				<div style="">1</div>
			</td><td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS">
				<div style="">$0</div>
			</td><td class="fontS2">
				<div style=""><a target="_blank" href="http://"/></div>
			</td><td align="center" class="fontS">
				<div style="">4</div>
			</td><td align="center" class="fontS2">
				<div style="">0</div>
			</td><td align="center" class="fontS2">
				<div style="">1/6/2008 12:00:00 AM</div>
			</td><td align="center" style="font-weight: bold;" class="fontS">
				<div style="">$0</div>
			</td>
	</tr><tr class="TableRow">
		<td align="center" class="fontS">
				<div style="">1</div>
			</td><td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS">
				<div style="">$0</div>
			</td><td class="fontS2">
				<div style=""><a target="_blank" href="http://"/></div>
			</td><td align="center" class="fontS">
				<div style="">4</div>
			</td><td align="center" class="fontS2">
				<div style="">0</div>
			</td><td align="center" class="fontS2">
				<div style="">1/6/2008 12:00:00 AM</div>
			</td><td align="center" style="font-weight: bold;" class="fontS">
				<div style="">$0</div>
			</td>
	</tr><tr class="TableRowAlternate">
		<td align="center" class="fontS">
				<div style="">1</div>
			</td><td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS">
				<div style="">$0</div>
			</td><td class="fontS2">
				<div style=""><a target="_blank" href="http://"/></div>
			</td><td align="center" class="fontS">
				<div style="">4</div>
			</td><td align="center" class="fontS2">
				<div style="">0</div>
			</td><td align="center" class="fontS2">
				<div style="">1/7/2008 12:00:00 AM</div>
			</td><td align="center" style="font-weight: bold;" class="fontS">
				<div style="">$0</div>
			</td>
	</tr><tr class="TableRow">
		<td align="center" class="fontS">
				<div style="">1</div>
			</td><td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS">
				<div style="">$0</div>
			</td><td class="fontS2">
				<div style=""><a target="_blank" href="http://"/></div>
			</td><td align="center" class="fontS">
				<div style="">4</div>
			</td><td align="center" class="fontS2">
				<div style="">0</div>
			</td><td align="center" class="fontS2">
				<div style="">1/7/2008 12:00:00 AM</div>
			</td><td align="center" style="font-weight: bold;" class="fontS">
				<div style="">$0</div>
			</td>
	</tr><tr class="TableRowAlternate">
		<td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS">
				<div style="">$78.5</div>
			</td><td class="fontS2">
				<div style=""><a target="_blank" href="http://"/></div>
			</td><td align="center" class="fontS">
				<div style="">0</div>
			</td><td align="center" class="fontS2">
				<div style="">CD6</div>
			</td><td align="center" class="fontS2">
				<div style="">1/7/2008 10:48:00 AM</div>
			</td><td align="center" style="font-weight: bold;" class="fontS">
				<div style="">$23.55</div>
			</td>
	</tr>
</tbody></table>

	        </td>
		    
		</tr>
		</tbody></table>