<table cellspacing="0" cellpadding="0" border="0" class="PageWidth">
		<tbody><tr>
		      
		    
	        <td width="100%" valign="top" style="text-align: left;" class="FontM">
                
	        <br/>
	            
<table cellspacing="0" cellpadding="0" border="0" class="FontM">
		<tbody><tr>
			<td><img width="14" height="14" alt="" src="Images/stats2.gif"/></td>
			<td> <strong>Total Account Activities Report</strong></td>
		</tr>
	</tbody></table>
	<br/>
	<table width="100%" cellspacing="1" cellpadding="3" border="0" class="TableHeader">
	<tbody><tr class="TableHeader">
		<td align="center">
			<table cellspacing="0" cellpadding="0" border="0" class="TableHeader">
			<tbody><tr>
				<td class="FontM">Month: </td>
				<td class="FontM"><select id="ctl00_ContentPlaceHolder1_FromMonth" name="ctl00$ContentPlaceHolder1$FromMonth" size="1">
	<option value="0" selected="selected">All</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>

</select></td>
				<td class="FontM">   Year: </td>
				<td class="FontM"><select id="ctl00_ContentPlaceHolder1_FromYear" name="ctl00$ContentPlaceHolder1$FromYear" size="1">
	<option value="2008">2008</option>
	<option value="2007">2007</option>

</select></td>
				<td class="FontM">   <input type="submit" style="width: 150px;" class="button" id="ctl00_ContentPlaceHolder1_btSubmit" value="Show Report" name="ctl00$ContentPlaceHolder1$btSubmit"/></td>
			</tr>
			</tbody></table>
		</td>
	</tr>
	</tbody></table>
				
	<object width="100%" height="180" align="" viewastext="" id="Chart1" codebase="http://download.macromedia.com/pub/shockwave/cabs/
	flash/swflash.cab#version=6,0,0,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
	<param value="http://www.aspxsoftware.com/FlashCharts/Column3D.swf" name="movie"/>
	<param value="&chartWidth=100%&chartHeight=180&dataXML=<graph     numberPrefix='$' showNames='1'  showValues='0' yAxisName='EARNINGS'  canvasBaseDepth='6'>
	<set name='Jan' value='39' color='AFD8F8'/>
<set name='Feb' value='0' color='F6BD0F'/>
<set name='Mar' value='0' color='8BBA00'/>
<set name='Apr' value='0' color='A66EDD'/>
<set name='May' value='0' color='F984A1'/>
<set name='Jun' value='0' color='CCCC00'/>
<set name='Jul' value='0' color='999999'/>
<set name='Aug' value='0' color='0099CC'/>
<set name='Sep' value='0' color='FF0000'/>
<set name='Oct' value='0' color='006F00'/>
<set name='Nov' value='0' color='0099FF'/>
<set name='Dec' value='0' color='FF66CC'/>

	</graph>" name="FlashVars"/>
	<param value="high" name="quality"/>
	<param value="#FFFFFF" name="bgcolor"/>
	<embed width="100%" height="180" align="" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" name="Chart1" bgcolor="#FFFFFF" quality="high" flashvars="&chartWidth=600&chartHeight=180&dataXML=<graph     numberPrefix='$' showNames='1'  showValues='0' canvasBaseDepth='6'>
	<set name='Jan' value='39' color='AFD8F8'/>
<set name='Feb' value='0' color='F6BD0F'/>
<set name='Mar' value='0' color='8BBA00'/>
<set name='Apr' value='0' color='A66EDD'/>
<set name='May' value='0' color='F984A1'/>
<set name='Jun' value='0' color='CCCC00'/>
<set name='Jul' value='0' color='999999'/>
<set name='Aug' value='0' color='0099CC'/>
<set name='Sep' value='0' color='FF0000'/>
<set name='Oct' value='0' color='006F00'/>
<set name='Nov' value='0' color='0099FF'/>
<set name='Dec' value='0' color='FF66CC'/>

	</graph>" src="http://www.aspxsoftware.com/FlashCharts/Chart1.swf"/>
	</object>
	
	<br/>
	
	<div id="ctl00_ContentPlaceHolder1_panel1">
	
				</div><div id="ctl00_ContentPlaceHolder1_Panel2">
	
				</div><table width="100%" cellspacing="1" cellpadding="3" border="0">
		<tbody><tr class="TableHeader">
			<th style="" class="headline">
				Clicks</th>
			<th style="" class="headline">
					Leads</th>
			

			<th class="headline">Sales</th>
			<th class="headline">
				Total Sales</th>
			<th style="" class="headline">
				Convert Rate</th>
			<th style="" class="headline">
				Total Earned</th>
		</tr>
		<tr class="TableRowAlternate">
			<td align="center" class="FontM">12</td>
			<td align="center" class="FontM">0</td>
			

			<td align="center" class="FontM">2</td>
			<td align="center" class="FontM">$129.37</td>
			<td align="center" class="FontM"><span id="ctl00_ContentPlaceHolder1_ConvertRate">16.67%</span></td>
			<td align="center" class="FontM"><strong>$38.81</strong></td>
		</tr>
	</tbody></table>

	        </td>
		    
		</tr>
		</tbody></table>