<table cellspacing="0" cellpadding="0" border="0" class="PageWidth">
		<tbody><tr>
		      
		    
	        <td width="100%" valign="top" style="text-align: left;" class="FontM">
                
	        <br/>
	            
    <table cellspacing="0" cellpadding="0" border="0" class="FontM">
		<tbody><tr>
			<td><img width="14" height="14" alt="" src="Images/earnings.gif"/></td>
			<td> <strong>Your Earnings</strong></td>
		</tr>
	</tbody></table>
	<br/>
	<span id="ctl00_ContentPlaceHolder1_Label1"/>
	<br/>
	<table rules="all" cellspacing="1" cellpadding="3" border="0" style="border-style: solid; border-width: 0px; width: 90%;" id="ctl00_ContentPlaceHolder1_DataGrid1" class="TableClass">
	<tbody><tr align="center" style="font-weight: bold;" class="TableHeader">
		<td>Earnings</td><td>Downline Network Earnings</td><td>Reserve Held</td><td>Pending Payment</td><td>Amount Paid</td>
	</tr><tr style="font-size: 12px;" class="TableRow">
		<td align="center">
					$38.81
				</td><td align="center">
					$13.22
				</td><td align="center">
					$0
				</td><td align="center">
					$52.03
				</td><td align="center">
					$0
				</td>
	</tr>
</tbody></table>

	        </td>
		    
		</tr>
		</tbody></table>