









           <%= select_tag "cronos", "<option value='monthly'>Montly</option><option  value='quarterly'>Quarterly</option><option value='all_unpaid'>All Unpaid</option><option 'all_included_unpaid'>All including paid</option>" , :onchange => 'alert("value:" + this.options[this.selectedIndex].value )'  %>