

<%=    render :partial => "links/checkout_links" %>


<div id="customer_billing">
  <%= render(:partial => "customers/show_chosen") %>
  </div>



<div id="ship_tos">

 <%= render(:partial => "ship_tos/show_chosen") %>
 
 </div>
 
<div id="quote_tender_entries">
  <%= render(:partial => "quote_tender_entries/show_chosen") %>
  </div>