<style type="text/css">


   .ui-listview .ui-li-has-thumb > img:first-child, .ui-listview .ui-li-has-thumb > .ui-btn > img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb {
       max-height: 150px;
       max-width: 150px;
   }

   .ui-listview > .ui-li-has-thumb > .ui-btn, .ui-listview > .ui-li-static.ui-li-has-thumb {
        padding-left:150px;
   }

   .ui-listview >  li h2 {
          margin-left: 10px  ;
          margin-right: 10px  ;
          margin-bottom: 0px  ;
          margin-top: 0px  ;
       white-space: normal;
   }

  .list-view  >  li > a.ui-btn {
       padding: 60px;;
   }


</style>





<img alt="" class="float_100" src="http://cdn.dixieoutfitters.com/images/carousel/featured-items-list.gif" />       <br>   <br>
<%#= @featured_items.size %>
<ul data-role="listview" data-inset="true" class="list-view">
              <% @featured_items.each do |featured_item| %>
                          <li>
                                    <a href="<%= featured_item.list_url %>">
                                            <%=  image_tag  "http://cdn.dixieoutfitters.com" + featured_item.image_name %>
                                            <h2><%= featured_item.description %></h2>
                                            <!--<p><%#= featured_item.verbiage %></p>-->
                                    </a>
                          </li>
              <% end %>
</ul>


