<div class="carousel_item_container">
  <div class="new-designs-carousel-image-container"><img data-lazy="http://cdn.dixieoutfitters.com/images/item_thumbnails/<%= item.PictureName %>" /></div>

  <!--<div class="carousel_link_container_100"><a data-role="button" data-theme="b" href="/store/new_designs">Shop New Designs </a></div>-->
</div>