<div class="carousel_item_container">
  <div class="featured-designs-carousel-image-container">
                         <a href="<%= item.url %>">
                                        <img src="http://cdn.dixieoutfitters.com/images/carousel/featured/<%= item.image_name %>" />
                         </a>
  </div>

  <!--<div class="carousel_link_container_100"><a data-role="button" data-theme="b" href="/store/new_designs">Shop New Designs </a></div>-->
</div>