<div class="carousel_item_container">
  <div class="featured-designs-carousel-image-container">

                                  <% if item.onclick %>
                                                     <a href="#" onclick="<%= item.onclick %>"><img src="http://cdn.dixieoutfitters.com/<%= item.image_name %>" />  </a>
                                 <% else %>
                                                    <a href="<%= item.url %>"><img src="http://cdn.dixieoutfitters.com/<%= item.image_name %>" />  </a>
                               <% end %>
  </div>

  <!--<div class="carousel_link_container_100"><a data-role="button" data-theme="b" href="/store/new_designs">Shop New Designs </a></div>-->
</div>