
<%  @features = Feature.where("name = ?",feature_name )  %>


<div class="home-page-carousel">
  <% if @features %>
                <style type="text/css">

                    .featured-designs-carousel-image-container img {
                        display: block;
                        margin-left: auto;
                        margin-right:auto;
                        max-height: 230px;
                        max-width: 230px;
                    }

                    #featured-designs-carousel {
                        background-image: url(http://cdn.dixieoutfitters.com/images/backgrounds_repeating/light-plaid.jpg);
                        /*background-size: 100%;*/
                    }


               .featured-designs-carousel-image-container {
                   width: 230px; height: 230px; margin-left:auto;margin-right:auto; vertical-align: middle; text-align: center;display: table-cell;
               }

                </style>



                 <img alt="" class="float_100" src="http://cdn.dixieoutfitters.com/images/features/headers/<%= feature_name %>.jpg" />   <br>




                <div id="<%= feature_name %>" style="float: left;width: 100%;">

                  <% @features.each do |feature| -%>
                      <%= render :partial => "features/carousel_item", :locals => {:feature => feature, :feature_name => feature_name} %>
                  <% end %>
                </div>

                <script type="text/javascript">

                    $(document).ready(function(){

                        $('#<%= feature_name %>').slick({
                //            lazyLoad: 'ondemand',
                            autoplay: true,
                            dots: true,
                            autoplaySpeed: 5000,
                            speed: 300,
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            slide: 'div',
                            cssEase: 'linear' ,
                            responsive: [
                                {
                                    breakpoint: 1024,
                                    settings: {
                                        slidesToShow: 3,
                                        slidesToScroll: 1,
                                        infinite: true,
                                        dots: true
                                    }
                                },
                                {
                                    breakpoint: 750,
                                    settings: {
                                        infinite: true,
                                        slidesToShow: 2,
                                        slidesToScroll: 1
                                    }
                                },
                                {
                                    breakpoint: 600,
                                    settings: {
                                        infinite: true,
                                        slidesToShow: 1,
                                        slidesToScroll: 1
                                    }
                                }
                            ]
                        });

                    })
                </script>
<% end %>
</div>






