



        <%  @features = Feature.where("name = ?",feature_name ).all  %>


        <div class="home-page-carousel">
          <% if @features %>
                        <style type="text/css">


                          .carousel_feature_container {
                              position: relative;
                              height: 270px;
                          }

                          .carousel_link_container {
                                  min-height: 40px;
                                width:100%;
                                  text-align: center;
                          }



                            .featured-designs-carousel-image-container img {
                                display: block;
                                margin-left: auto;
                                margin-right:auto;
                            }

                            #featured-designs-carousel {
                                background-image: url(http://cdn.dixieoutfitters.com/images/backgrounds_repeating/light-plaid.jpg);
                                text-align: center;
                                /*background-size: 100%;*/
                            }


                       .featured-designs-carousel-image-container {
                           width: 100%; margin-left:auto;margin-right:auto; vertical-align: middle; text-align: center;;
                       }

                        </style>



                                       <% if feature_name  == "barber_store_home_featured_designs"  %>
                                                <div style="width:100%;height:40px;text-align: center;background-color: black;color:white;font-size:26px;font-family: initial;">
                                                            FEATURED STOCK TRANSFERS
                                                </div>
                                        <% else %>
                                                  <div style="width:100%;height:20px;text-align: center;background-color: black;color:white;font-size:26px;font-family: initial;">
                                                  </div>
                                        <% end %>
                                         <!--<img alt=""  src="http://cdn.dixieoutfitters.com/images/features/headers/<%= feature_name %>.jpg" />   <br>-->




                        <div id="<%= feature_name %>" style="float: left;width: 100%;">

                          <% @features.each do |feature| -%>
                              <%= render :partial => "features/carousel_item", :locals => {:feature => feature, :feature_name => feature_name} %>
                          <% end %>
                        </div>

                        <script type="text/javascript">

                            $(document).ready(function(){

                                $('#<%= feature_name %>').slick({
//                                    lazyLoad: 'ondemand',
                                    autoplay: true,
                                    dots: true,
                                    autoplaySpeed: 2000,
                                    speed: 300,
                                    slidesToShow: 3,
                                    slidesToScroll: 1,
                                    slide: 'div',
                                    cssEase: 'linear' ,
                                    responsive: [
                                        {
                                            breakpoint: 1024,
                                            settings: {
                                                slidesToShow: 2,
                                                slidesToScroll: 1,
                                                infinite: true,
                                                dots: true
                                            }
                                        },
                                        {
                                            breakpoint: 750,
                                            settings: {
                                                infinite: true,
                                                slidesToShow: 2,
                                                slidesToScroll: 1
                                            }
                                        },
                                        {
                                            breakpoint: 600,
                                            settings: {
                                                infinite: true,
                                                slidesToShow: 1,
                                                slidesToScroll: 1
                                            }
                                        }
                                    ]
                                });

                            })
                        </script>
        <% end %>
        </div>






