
<img alt="" class="float_100" src="http://dixieoutfitters.com/images/home_page_images/2014_07_alligator/alligator.jpg" />



<style type="text/css">

    .float_50 {
        float: left;
    }
    .float_100 {
        float: left;
    }

  .carousel_link_container_100 {
    width: 100%;
    float: left;;
}
.carousel_link_container_50 {
    width: 50%;
    float: left;;
}
.carousel_image_container img {
    display: block;
    margin-left: auto;
    margin-right:auto;
    height: 220px;;
}

.stock-carousel {
    background-image: url(http://dixieoutfitters.com/images/home_page_images/2014_07_alligator/alligator-carousel-background-blue.jpg);
    background-size: 100%;
}
</style>


<div class="stock-carousel" style="float: left;width: 100%;height: 300px;">
                      <div class="carousel_item_container">
                                            <div class="carousel_image_container"><img data-lazy="http://cdn.dixieoutfitters.com/images/carousel/2014-06_dixie_homepage/small/injustice.png" /></div>

                                            <div class="carousel_link_container_100"><a data-role="button" data-theme="b" href="/store/category_items/35/672">Shop Dixie All Over shirts </a></div>
                        </div>

                      <div class="carousel_item_container">
                                            <div class="carousel_image_container"><img data-lazy="http://cdn.dixieoutfitters.com/images/carousel/2014-06_dixie_homepage/small/battle-flags.png" /></div>

                                            <div class="carousel_link_container_100"><a data-role="button" data-theme="b" href="/store/category_items/35/910">Shop Virginia Flaggers shirts </a></div>
                      </div>
</div>



<script type="text/javascript">

    $(document).ready(function(){

        $('.stock-carousel').slick({
            lazyLoad: 'ondemand',
            infinite: true,
            dots:false,
            autoplay: true,
            autoplaySpeed: 5000,
            speed: 300,
            //            fade: true,
            slide: 'div',
            cssEase: 'linear'
        });

    })
</script>













<% if @sadfasd %>


    <style type="text/css">.carousel_link_container_100 {
        width: 100%;
        float: left;;
    }
    .carousel_link_container_50 {
        width: 50%;
        float: left;;
    }
    .carousel_image_container img {
        display: block;
        margin-left: auto;
        margin-right:auto;
    }

    .stock-carousel {
        background-image: url(http://cdn.dixieoutfitters.com/images/carousel/dixie_homepage_june/carousel-background.jpg);
        background-size: 100%;
    }
    </style>
    <div class="stock-carousel" style="float: left;width: 100%;">
      <div class="carousel_item_container">
        <div class="carousel_image_container"><img data-lazy="http://cdn.dixieoutfitters.com/images/carousel/2014-06_dixie_homepage/small/injustice.png" /></div>

        <div class="carousel_link_container_100"><a data-role="button" data-theme="b" href="/store/category_items/35/672">Shop Dixie All Over shirts </a></div>
        <!--<div class="carousel_link_container"> <a data-role="button"  href="/store?department_id=12">Shop products </a></div>-->-</div>

      <div class="carousel_item_container">
        <div class="carousel_image_container"><img data-lazy="http://cdn.dixieoutfitters.com/images/carousel/2014-06_dixie_homepage/small/battle-flags.png" /></div>

        <div class="carousel_link_container_100"><a data-role="button" data-theme="b" href="/store/category_items/35/910">Shop Virginia Flaggers shirts </a></div>
        <!--<div class="carousel_link_container"> <a data-role="button"  href="/store?department_id=26">Shop products </a></div>--></div>
    </div>
    <script type="text/javascript">

        $(document).ready(function(){

            $('.stock-carousel').slick({
                lazyLoad: 'ondemand',
                infinite: true,
                dots:false,
                autoplay: true,
                autoplaySpeed: 5000,
                speed: 300,
                //            fade: true,
                slide: 'div',
                cssEase: 'linear'
            });

        })
    </script>

             -------------------------------------------------






























    /*.carousel_item_container {*/
    /*float: left;*/
    /*width: 100%;*/
    /*background-color: blue;*/
    /*margin: 0;;*/
    /*}*/




    <!--<div class="carousel_item_container">-->
    <!--<div class="carousel_image_container"><img src="http://cdn.dixieoutfitters.com/images/carousel/2014-06_dixie_homepage/small/injustice.png" /></div>-->

    <!--<div class="carousel_link_container_100"><a data-role="button" data-theme="b" href="/store/category_items/35/672">Shop Dixie All Over shirts </a></div>-->
    <!--</div>-->





    <style type="text/css">.carousel_link_container_100 {
        width: 100%;
        float: left;;
    }
    .carousel_link_container_50 {
        width: 50%;
        float: left;;
    }
    .carousel_image_container img {
        display: block;
        margin-left: auto;
        margin-right:auto;
    }

    .stock-carousel {
        background-image: url(http://dixieoutfitters.com/images/home_page_images/2014_07_alligator/alligator-carousel-background.jpg);
        background-size: 100%;
    }
    </style>
    <div class="stock-carousel" style="float: left;width: 100%;">
      <div class="carousel_item_container">
        <div class="carousel_image_container"><img data-lazy="http://cdn.dixieoutfitters.com/images/carousel/2014-06_dixie_homepage/small/injustice.png" /></div>

        <div class="carousel_link_container_100"><a data-role="button" data-theme="b" href="/store/category_items/35/672">Shop Dixie All Over shirts </a></div>
        <!--<div class="carousel_link_container"> <a data-role="button"  href="/store?department_id=12">Shop products </a></div>-->-</div>

      <div class="carousel_item_container">
        <div class="carousel_image_container"><img data-lazy="http://cdn.dixieoutfitters.com/images/carousel/2014-06_dixie_homepage/small/battle-flags.png" /></div>

        <div class="carousel_link_container_100"><a data-role="button" data-theme="b" href="/store/category_items/35/910">Shop Virginia Flaggers shirts </a></div>
        <!--<div class="carousel_link_container"> <a data-role="button"  href="/store?department_id=26">Shop products </a></div>--></div>
    </div>
    <script type="text/javascript">

        $(document).ready(function(){

            $('.stock-carousel').slick({
                lazyLoad: 'ondemand',
                infinite: true,
                dots:false,
                autoplay: true,
                autoplaySpeed: 5000,
                speed: 300,
                //            fade: true,
                slide: 'div',
                cssEase: 'linear'
            });

        })
    </script>

<% end %>