<div class="page_name"> <%=  revision_list_item.page.name  %>- - - Date Released: <%=  revision_list_item.created_at  %> <div align =right> <%= link_to "Read More" ,:action  => 'page' , :id => params[:id]   %></div>	</div>
<div class="page_content"> <%=  truncate(revision_list_item.content, 500)  %> </div>	
			