<h1>Weather#indexsss</h1>


<%= link_to "National Weather Service Weather Forecast Office of Tallahassee, FL", "http://www.srh.noaa.gov/tlh/" %><br />

<div id="weather_container">
    <%= @weather_forecast.html_safe  %>
</div>







