      <div id="stuff">Here is some stuff</div>

      <form target="frame" action="form_action" enctype="multipart/form-data" method="post">
        <input type="file" name="uploaded_file"/>
        <input type="submit"/>
      </form>

      <iframe id='frame' name="frame"></iframe>