<style media="screen">


#dixie_sale {
width:640px;
height:427px;
background: url(/images/email_blasts/long-sleeve-t.png);
margin: 0px; padding: 0;
position: relative;
}
#dixie_sale li {margin: 0; padding: 0; list-style: none; position: absolute; border:0px;list-style-type:none; border: 1px solid red;   }

#dixie_sale li, #dixie_sale a {display: block;margin: 0; padding: 0;  text-decoration: none;   }

#new_designs {left: 0; top:220px; width: 310px; margin: 0;}
#new_designs a {height:173px;}

#men {top: 395px; left: 155px; width: 58px;}
#men a {height: 30px;}

#women {top: 395px; left: 215px; width: 85px;}
#women a {height: 30px;}

#jr_girl {top: 395px; left: 302px; width: 75px;}
#jr_girl a {height: 30px;}

#boy {top: 395px; left: 378px; width: 55px;}
#boy a {height: 30px;}

#girl {top: 395px; left: 433px; width: 55px;}
#girl a {height: 30px;}

#toddler {top: 395px; left: 488px; width: 85px;}
#toddler a {height: 30px;}

#baby {top: 395px; left: 573px; width: 65px;}
#baby a {height: 30px;}


#new_designs a:hover {background: transparent url(/images/email_blasts/long-sleeve-t.png) 0px -646px no-repeat;}
#men a:hover {background: transparent url(/images/email_blasts/long-sleeve-t.png) -155px -821px no-repeat;}
#women a:hover {background: transparent url(/images/email_blasts/long-sleeve-t.png) -215px -821px no-repeat;}
#jr_girl a:hover {background: transparent url(/images/email_blasts/long-sleeve-t.png) -302px -821px no-repeat;}
#boy a:hover {background: transparent url(/images/email_blasts/long-sleeve-t.png) -378px -821px no-repeat;}
#girl a:hover {background: transparent url(/images/email_blasts/long-sleeve-t.png) -433px -821px no-repeat;}
#toddler a:hover {background: transparent url(/images/email_blasts/long-sleeve-t.png) -488px -821px no-repeat;}
#baby a:hover {background: transparent url(/images/email_blasts/long-sleeve-t.png) -573px -821px no-repeat;}


a i {
    visibility:hidden;
}

 </style>


<ul id="dixie_sale">
		<li id="new_designs"><a href="http://dixieoutfitters.com/dixie_store/new_designs&utm_source=DixieOutfitters&utm_medium=email&utm_campaign=long_sleeve_tee_sale_2011_09_15"> <i>New Designs</i></a></li>
		<li id="men"><a href="http://dixieoutfitters.com/dixie_store?department_id=2&utm_source=DixieOutfitters&utm_medium=email&utm_campaign=long_sleeve_tee_sale_2011_09_15"><i>Men</i></a></li>
		<li id="women"><a href="http://dixieoutfitters.com/dixie_store?department_id=3&utm_source=DixieOutfitters&utm_medium=email&utm_campaign=long_sleeve_tee_sale_2011_09_15"><i>Women</i></a></li>
		<li id="jr_girl"><a href="http://dixieoutfitters.com/dixie_store?department_id=4&utm_source=DixieOutfitters&utm_medium=email&utm_campaign=long_sleeve_tee_sale_2011_09_15"><i>Jr Girl</i></a></li>
		<li id="boy"><a href="http://dixieoutfitters.com/dixie_store?department_id=9&utm_source=DixieOutfitters&utm_medium=email&utm_campaign=long_sleeve_tee_sale_2011_09_15"><i>Boy</i></a></li>
		<li id="girl"><a href="http://dixieoutfitters.com/dixie_store?department_id=6&utm_source=DixieOutfitters&utm_medium=email&utm_campaign=long_sleeve_tee_sale_2011_09_15"><i>Girl</i></a></li>
		<li id="toddler"><a href="http://dixieoutfitters.com/dixie_store?department_id=8&utm_source=DixieOutfitters&utm_medium=email&utm_campaign=long_sleeve_tee_sale_2011_09_15"><i>Toddler</i></a></li>
		<li id="baby"><a href="http://dixieoutfitters.com/dixie_store?department_id=7&utm_source=DixieOutfitters&utm_medium=email&utm_campaign=long_sleeve_tee_sale_2011_09_15"><i>Baby</i></a></li>
 </ul>
