

<span style="text-align: center;">

<div style="font-size:20px;text-align:center;width:850px;">  Listing films  </div>


<%= render "search" %>


<div id="search_results">
      <%= render "films/list" %>
</div>



</span>