<style type="text/css">

    .ui-block-department {
        width: 50% !important;
        float: left;
    }
    .ui-block-category {
        width: 50% !important;
        float: left;
    }

</style>



<div class="ui-grid-a" style="width:100% !important;">
  <% if @department %>
      <div class="ui-block-department">
        <a data-role="button" href="#" onclick="expandCollapsibleDepartment( <%= @department.id %>)">  <%= @department.Name.camelize.possessive %></a>
      </div>
  <% end %>

  <% if @category %>
      <div class="ui-block-category">
        <a data-role="button" href="#" class="ui-disabled"> <%= @category.Name.camelize %></a>
      </div>
  <% end %>
</div>