<!--   #######################  BEGIN  HEADER  ####################### -->
<!--   #######################  BEGIN  HEADER  ####################### -->
<!--   #######################  BEGIN  HEADER  ####################### -->
<!--   #######################  BEGIN  HEADER  ####################### -->
<!--   #######################  BEGIN  HEADER  ####################### -->
<%# if @header %>
<div data-role="header" data-id="barbersystem_header" data-position="fixed"  data-theme="b">

                      <div data-role="navbar">
                        <ul>
                        <li>
                                                 <a href="/">
                                                  Home
                                                 </a>
                        </li>
                        <li>
                                                 <a href="#pages_panel">Menu</a>
                        </li>
                        <!--<li><a href="#designs_panel">Designs</a></li>-->
                        <!--<li><a href="#items_panel">Items</a></li>-->


                        <li>
                                <a  data-iconpos="left"   data-role="button" href="/cart">Cart</a>
                        </li>
                        </ul>

                      </div><!-- /navbar -->


                     <!--<div style="max-width: 100%;text-align: center;background-color: black;"><img src="http://dixieoutfitters.com/images/header/<%= @website.name %>.png" /> <img src="http://dixieoutfitters.com/images/header/<%= @website.name %>_slogan.png" /></div>-->


</div><!-- /header -->
<%# end %>
<!--   #######################  END  HEADER  ####################### -->
<!--   #######################  END  HEADER  ####################### -->
<!--   #######################  END  HEADER  ####################### -->
<!--   #######################  END  HEADER  ####################### -->
<!--   #######################  END  HEADER  ####################### -->