<div  class="information_bar" style="float: left;">
  <%#= link_to "Full website", @website.name + "/?mobile=false", :class => "ui-btn" %>
  <div data-role="controlgroup" data-type="vertical" data-inline="true">
        <a href="/order_tracking" data-role="button" data-icon="arrow-u" data-iconpos="left">Track Order </a>
        <a href="/account/login" data-role="button" data-icon="arrow-u" data-iconpos="left">Log in </a>
        <a href="/cart" data-role="button" data-icon="arrow-u" data-iconpos="left">Your Cart </a>
        <a href="mailto:email@<%= @website.domain %>" data-role="button" data-icon="info"  data-iconpos="left" target="_blank"> email@<%= @website.domain %></a>
        <a href="tel:<%= @website.phone %>"  data-role="button" data-icon="info"  data-iconpos="left" data-role="button"><%= @website.phone %></a>
         <% if @website.name == "barber_store" %>
                           <a href="http://barberandcompany.net" data-role="button" data-icon="forward" data-iconpos="left">Visit our old version website at BarberAndCompany.com </a>
          <% end %>
        <% if @website.name == "dixie_store" %>
                         <a href="http://dixieoutfitters.com" data-role="button" data-icon="forward" data-iconpos="left">Visit our old version website at DixieOutfitters.com </a>
        <% end %>
  </div>
</div>





<% if @old %>

    <!--<a href="/p/index" data-role="button" data-icon="arrow-u" data-iconpos="left" data-theme="b">Browse Articles </a>-->

    <a href="#items_panel" data-role="button" data-icon="arrow-l" data-iconpos="left" data-theme="b">Shop Items </a>
    <a href="#designs_panel" data-role="button" data-icon="arrow-l" data-iconpos="left" data-theme="b">Shop Designs </a>
    <a href="/search" data-role="button" data-icon="search" data-iconpos="left">Search </a>
    <a href="/search/scroll" data-role="button" data-icon="gear" data-iconpos="left">Scroll </a>


    <a href="/order_tracking" data-role="button" data-icon="arrow-u" data-iconpos="left">Track Order </a>

<% end %>