<!-- Begin Shared Title -->
<title>
<% if @page and  @website  -%>
          <%=  @website.domain + '/' + @page.name  -%>
<% else -%>
<%=  controller.controller_name + ' /'  +  controller.action_name.humanize -%>
<% end -%>
</title>
<!-- End Shared Title -->