      <a href="" id="tabs_example_two_first" style="margin-right:10px;">&laquo;</a>
      <a href="" id="tabs_example_two_previous" style="margin-right:10px;">&larr;</a>
            <select id="tabs_example_two_select" style="margin-right:10px;">
                <option value="background_choices">Background</option>
                <option value="back_choices">Back Design</option>
                <option value="front_choices">Front Design</option>
                <option value="shirt_style_choices">Product Choice</option>
                 <option value="add_to_cart">Save and Cart</option>
                 <option value="details">Details</option>
                 <option value="price">Price</option>
            </select>
      <a href="" id="tabs_example_two_next" style="margin-right:10px;font-size:16px;">&rarr;</a>
    <a href="" id="tabs_example_two_last" style="font-size:16px;"">&raquo;</a>
