<% logger.debug "-------------------------------------begin shared_browse/departments_introduction " %>
<% logger.debug "-------------------------------------not @department -- @department_introduction == true " %>
<% logger.debug "--------browse CACHE AREA 2 , CACHE AREA 2 , CACHE AREA 2 , CACHE AREA 2 , CACHE AREA 2 , CACHE AREA 2 , CACHE AREA 2 , CACHE AREA 2 - " %>
<% if @max_log %>
      <% logger.debug "-------------------------------------@item_departments: #{@item_departments.to_xml}" if @item_departments  %>
      <% logger.debug "-------------------------------------@design_departments: #{@design_departments.to_xml}" if @design_departments  %>
<% end  %>


<%  department_type = params[:department_type] || 0 %>
<%
	@show_items = false
	@show_designs = false
if params[:department_type].nil?
	@show_items = true
	@show_designs = true
elsif params[:department_type] == "items"
	@show_items = true
elsif params[:department_type] == "designs"
	@show_designs = true
end
%>


<style type="text/css">
    .row-fluid li {
        list-style-type: none;
    }
</style>

<div class="row-fluid">
  <ul class="thumbnails">
		<%#=  image_tag("/images/headers/shop_by_design.gif", :border => 0)  if @show_designs == true  %>
		<%   @design_departments.each do |department|  %>
				<%=  render(:partial => "store/department_introduction", :locals => {:department => department } )  %>
		<% end  if @show_designs == true %>

		<%#=  image_tag("/images/headers/shop_by_product.gif", :border => 0) if @show_items == true    %>
		<% @item_departments.each do |department| %>
				<%=  render(:partial => "store/department_introduction", :locals => {:department => department } )  %>
		<% end if @show_items == true  %>
  </ul>
</div>
<% logger.debug "-------------------------------------end shared_browse/departments_introduction " %>