

<h2>Browse by Image:</h2>
<div id="crumb" data-last_department_id="<%= params[:department_id] %>" class="wizard" style="background-color: white;">
  <a class="trail" id="department_crumb"><span class="badge">1</span> Choose: Department</a>
  <a class="trail disabled" id="category_crumb"><span class="badge">2</span> Category</a>
  <a class="trail disabled" id="item_crumb"><span class="badge badge-inverse">3</span> Design</a>
</div>

<script type="text/javascript">
//    $('#<%= crumb %>_crumb').addClass('current');
</script>