<div class="btn-group" data-toggle="buttons-radio">
  <button type="button" class="btn btn-primary active">Designs</button>
  <button type="button" class="btn btn-primary">Clothing</button>
  <button type="button" class="btn btn-primary">Merchandise</button>
</div>
<button type="button" class="btn btn-primary" data-toggle="button">Show Images</button>