<form id="articles_search" action="/search/search/articles" method="get">
  <label for="query" style="display: none;">Articles  search:</label>
  <input type="search" name="query" id="query"  placeholder="Articles"  value="">   <span class="ui-icon ui-icon-search ui-icon-shadow">&nbsp;</span>
</form>