
<% $stdout.puts "@purchases_entries: " + @purchases_entries.inspect  %>

<div class="product_container_div">
	<%= form_for(:purchase,@purchase, :url => { :controller => "purchases",:action => "update",:id => @purchase}, :html => { :method => :put }) do |f| %>
            	<table class="purchase_table" id="purchase_table">
                  <tr>
                                            <th  class="purchases_entry_delete">.</th>
                                            <th  class="purchases_entry_image" >.</th>
                                            <th  class="purchases_entry_quantity">quantity</th>
                                            <th  class="purchases_entry_itemlookupcode">item lookup code</th>
                                            <th  class="purchases_entry_description">description</th>
                                            <th  class="purchases_entry_full_unit_price" >full unit price:</th>
                                            <th  class="purchases_entry_unit_quantity_tier_discount_price">unit quantity tier price:</th>
                                            <th  class="purchases_entry_full_extended_price"> full extended price</th>
											<th  class="purchases_entry_your_extended_price_savings"> your extended price savings</th>
                                            <th  class="purchases_entry_your_extended_price"> your extended price </th>
                  </tr>

                                            <% @purchases_entries.each do |purchases_entry| %>
                                                            <%= render(:partial => "cart/purchases_entry_wholesale",:locals => { :purchases_entry => purchases_entry } ) %>
                                            <% end %>
                                            

                                            
                                            <% if @qualifies_for_discount == true %>
                                            				 <%= render(:partial => "cart/purchases_entry_discount_line") %>
                                            <% end %>

                        </table>
 	<%= submit_tag "Update Quantities" if controller.action_name == 'index' %>
 
  <% end %>
 
	 
</div>


 
