
<div id="display_cart_buttons" style="background-color:white;width:850px;height:100px;display:table;float:left;">

<%= render(:partial => "cart/quick_cart_container") %>

<%= render(:partial => "cart/other_cart_options") %>

</div>