<div class="please_complete_order">
  <span>
    <br />
  <strong>
        You have an item that needs completion.
          Complete this item by choosing an
                        <% if @purchase.symbiote_type == 'master' %>
                                <%= link_to "Design", :controller  => 'browse' %>
                        <% else %>
                                <%= link_to 'Item' ,:controller => 'browse'  %>
                        <% end %>
        or adding with the QuickCart above.
</strong>
  </span>
</div>