<div class="please_complete_order">
	
You have items on hold, please complete or delete them before checking out.
			

<%=  button_to "Delete all on hold items", :controller => 'cart', :action =>"delete_all_on_hold_items"  %>

</div>