
<% if @completion_status_bar_message %>
	<div id="completion_status_bar" align="center">
                <strong><span class="notice_flashing">NOTICE: </span> <%= @completion_status_bar_message %></strong>
              <br>
              <br>
	</div>
<% end %>
