
<div class="specsheet_resize">
          <div style="text-align:center;width:850px;">


                    <div class="resize_handle_container">
                                <div style="float: left; margin-left:100px; width: 200px; background-image: url(/images/controls/slide_track.gif); background-repeat: repeat-x; background-position: left center; height: 18px;" id="main_print_track">
                                                            <div style="width: 18px; height: 18px; left: 200px; position: relative;" id="main_print_handle" class="selected"><img src="/images/controls/slide_control.gif"  alt="slide_control" /></div>
                                 </div>
                      </div>
                    <div class="resize_handle_container">
                                <div style="float: left;margin-left:100px; width: 200px; background-image: url(/images/controls/slide_track.gif); background-repeat: repeat-x; background-position: left center; height: 18px;" id="reverse_print_track">
                                                    <div style="width: 18px; height: 18px; left: 200px; position: relative;" id="reverse_print_handle" class="selected"><img src="/images/controls/slide_control.gif" alt="slide_control" /></div>
                                </div>
                     </div>

            </div>
</div>