
            <div id="details" style="float: left;display:none;" class="x_choices">
              <div style="width:850px;text-align: left;">

                            <%=  render :partial => "designer_specsheet/details_form_fields" %>

              </div>
            </div>


<% if @use %>


            <div id="details" style="float: left;display:none;" class="x_choices">
              <div style="width:850px;text-align: left;">
                  <%= form_for( '_javascript', :url => {:controller => 'production', :action => 'create_file'}) do |f| %>
                            <%=  render :partial => "designer_specsheet/details_form_fields" %>
                <%= image_submit_tag( '/images/icons/production.jpg', :border => 0, :height => '60' )  %>
                <% end  %>
              </div>
            </div>





<% end  %>