



<div style="margin-left:auto;margin-right:auto; height:1000px; width:850px;">
			<div style="float:left; height:80px; width:850px;;border: 1px solid #ddd; color:#ddd; text-align:left;">
			</div>
			<div style="float:left; height:353px; width:850px;">
			
							<div style="position: absolute; height:0px; width:0px; z-index: 2;">
									<img src="/images/item_specsheets/11001_lmrp_ash.png" style="left:300px; top:100px;"  id="11001_lmrp_ash">
							</div>
							
							<div style="position: absolute; height:0px; width:0px; z-index: 3;">			
									<img src='/mugshots/0000/0009/6407l_o_rp.png' style="position:relative;cursor: move; left:300px; top:100px;" class='main'  id="6407l_o_rp">
							</div>
							
							<div style="position: absolute; height:0px; width:0px; z-index: 4;">
									<img src='/mugshots/0000/0011/6334l_o_rp.png' style="position:relative;cursor: move; left:600px; top:100px;" class='reverse'  id="6334l_o_rp">		
							</div>
							
							<div style="position: absolute; height:0px; width:0px; z-index: 5;" id="mask">
											<img src= "/images/item_masks/11012_legends_mask.png"  style="left:0px; top:0px;" class='mask'>		
							</div>
				
			</div>
			
			
			<div style="text-align:center; float:left; height:80px; width:850px;border: 1px solid #ddd; color:#ddd;">
			
				<div style="float:left; height:80px; width:220px;border: 1px solid #ddd; color:#ddd;">
							
								<div style="margin: 4px 0pt 0pt 10px; width: 200px; background-image: url(/images/controls/slide_track.gif); background-repeat: repeat-x; background-position: left center; height: 18px;" id="main_print_track">
									<div style="width: 18px; height: 18px; left: 196px; position: relative;" id="main_print_handle" class="selected"><img src="/images/controls/slide_control.gif"/></div>
								</div>
						
								
								<div style="margin: 4px 0pt 0pt 10px; width: 200px; background-image: url(/images/controls/slide_track.gif); background-repeat: repeat-x; background-position: left center; height: 18px;" id="reverse_print_track">
									<div style="width: 18px; height: 18px; left: 196px; position: relative;" id="reverse_print_handle" class="selected"><img src="/images/controls/slide_control.gif"/></div>
								</div>
								<div style="margin: 4px 0pt 0pt 10px; width: 200px;height: 18px;" id="reverse_print_track">
											SIZE CONTROLS:
								</div>
					</div>
					
					<div style="float:left; height:80px; width:400px;;border: 1px solid #ddd; color:#ddd; text-align:center;">
								CLICK AND DRAG THE IMAGES TO THE PLACE ON THE SHIRT YOU WANT THE DESIGN
					</div>
			</div>
			
					<div style="float:left; height:80px; width:850px;;border: 1px solid #ddd; color:#ddd; text-align:left;">
					</div>
					
					<div style="float:left; height:80px; width:850px;;border: 1px solid #ddd; color:#ddd; text-align:left;">
							MAIN:<div id="lpos" style="float:left;"></div><br>
							REVERSE:<div id="rpos" style="float:left;"></div>
					</div>
			
			
</div>