<% apex %>

<div  id="custom_items_small" style="display:none;">
                              <%=  image_tag(  '/images/buttons/manage-custom-designs.jpg'  ,:alt =>  "Manage Customs"   , :border => 0 ,
                                :style => "width:850px; float:left;",  :class =>  'manage_your_customs',
                                 :mouseover => "/images/buttons/manage-custom-designs-over.jpg",
                                :id =>    'manage_customs_button')      %>

                        <table id="custom_designs_table" class="designs_table" >
                          <tr>
                            <%   @custom_items.each do |design| %>
                              <td> <%= image_tag(  '/custom_items/thumbnail/' + design.filename   , :width => '280' ,:alt =>  design.filename, :class =>  'custom_item'  ) %></td>
                             <% end %>
                          </tr>
                        </table>


 </div>

