  <div id="duplicate_class" style="background-color:LightGreen;text-align:left;width:640px;"> 	<br />
    Duplicating a class will make a new class with all the same opposites as this class (<%= @category.category_class.name %>).
     It is a good starting point for making a new class if there is one that is similar to what you need.
     If this is not the correect category class, navigate to a category that is in that class.
  </div>	
