

<% item = found_item %>  
    <div class="item_list_thumbnail_container">
		<%=   link_to( image_tag( item.image_url( @department, 'item_thumbnails/','x' ),:border => 0, :size =>"120x120"   )  ,:controller  => "specsheet",		:item_id => item.id , :department_id => item.default_master_department_id )  -%><br />
		<%=  item.ItemLookupCode -%><br />
		<%=  item.description_before_color_and_size -%><br />

	</div>

