<div class="Single Spot1">
      <div>
        <h2><a href="http://newsroom.cdw.com/default.htm?cm_re=HP-_-TZ-_-Main+Newsroom+Link" title="CDW Newsroom"><img alt="CDW Newsroom" src="http://img.cdw.com/cdw/homepage/bottom_features/hdr_noteworthy_news.gif"/></a></h2>
      </div>
      <div style="background-image: url(http://img.cdw.com/cdw/homepage/bottom_features/noteworthy3_bg.gif);" class="BrandContainer">
        <div class="BrandContent">
          <h3><a title="CDW and Cisco " class="BrandingTitle" target="_blank" href="http://newsroom.cdw.com/news-releases/news-release-07-25-07.html?cm_re=HP-_-TZ-_-BR1+CDW+Cisco+Partnership">CDW and Cisco<br/>
            </a></h3>
          <p class="BrandDescriptions">Our dedication to service results in Gold Partner certification from Cisco.</p>
        </div>
        <div class="CTA"><a title="CDW and Cisco " target="_blank" href="http://newsroom.cdw.com/news-releases/news-release-07-25-07.html?cm_re=HP-_-TZ-_-BR1+CDW+Cisco+Partnership"><img alt="CDW and Cisco " src="http://webobjects2.cdw.com/is/image/CDW/btn_more_info?$button$"/></a></div>
      </div>
    </div>