<%= form_for(@responsife) do |f| %>
  <% if @responsife.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@responsife.errors.count, "error") %> prohibited this responsife from being saved:</h2>

      <ul>
      <% @responsife.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
