




<table class="compensation_report_notes">
		<tbody>
			<th> Compensation Notes  </th>
			
						<tr>
							<td>
									
									<li> *Our system is currently in Beta testing mode and could miscalculate as a result.
											 If you find any miscalculations, please call us at <%= @website.phone %>. 
											 Thank you for helping us build a prosperous and profitable business relationship!</li>
									
							</td>
						</tr>
									
			
						<tr>
							<td>
									To receive compensation, your report status must meet the requirements outlined below:<br />
									<li> 30 days must have past since the date the order was shipped to allow time for the customer to return the item.</li>
									<li>  Your "Qualifying Commission Total" must be at least $50.00. Your commsions will keep adding until they meet this requirement.    </li>
							</td>
						</tr>
		</tbody>
</table>


<br />
<table>
			<tbody>
		 <tr>
				<td>		 
						<li>
						   <%= image_tag('/images/icons/caution.png') %>      Your IP has been logged. Purposefully  illegal activity or hacking attempts will be prosecuted.
						</li>
						<br />
				 </td>
		 </tr>
</table>