


		<table class="compensation_report_totals">
			<tbody>
						<th>Non Qualifying Total  </th><th> Non Qualifying Commission Total </th><th>Qualifying Total  </th><th> Qualifying Commission Total  </th>
								<tr>
									<td class="non_qualifying_total"> <%= @recruited_non_qualifying_total %> </td>
									<td class="non_qualifying_total"> <%=  @recruited_non_qualifying_commision_total %> </td>
									<td class="qualifying_total"> <%= @recruited_qualifying_total %> </td>
									<td class="qualifying_total"> <%=   @recruited_qualifying_commision_total %> </td>
								</tr>
			</tbody>
		</table>

