<%= image_tag("/images/diagrams/affiliate-diagram-1.png") %>

<br>
<h3>User 1 will receive the following emails:</h3>
A affiliate sale notification for order 1.<br>
A affiliate recruiter sale notification for order 2.<br>
<br>
<h3>User 2 will receive the following emails:</h3>
A affiliate sale notification for order 2.<br>
A purchase confirmation for order 1.<br>
<br>
<h3>User 3 will receive the following emails:</h3>
A purchase confirmation for order 2.<br>


<br>
<h3>Affiliates receive 5% of the order total. Affiliate recruiters receive 1% of the order total.</h3>

<h3>As an affiliate or recruiter you will be notified via email for every sale made through your banner or one of your recruited affiliates banners. You can also check the 	<%= link_to 'Affiliate Compensation Report', :controller => 'affiliates', :action => "compensation_report" %> for your current statistics.	</h3>