
<h2> <%= @website.domain %> affiliate system version changes log. </h2>

<h3><span style="color:red;"> For all affiliate questions, please email <a href="mailto:affiliate@<%= @website.domain %>">affiliate@<%= @website.domain %></a>   </span></h3>	
<br />

<h3>Update 03/03/2010 ! To do: Graphing and Recruiter tracking </h3>	
<h3><span style="color:red;">Update 03/02/2010 ! A new error was found  that caused  affiliate information to be deleted after login in some cases. This error has been corrected.  </span></h3>	
<h3><span style="color:red;"> Update 02/26/2010 ! Affiliate Commission has been computed and will be sent out today. We are currently checking all referals for validity and adherence to the agreement. </span></h3>	
<h3>Update 02/09/2010 ! Compensation Report has been rewritten. Charting will be added by 03/10/2010.</h3>	
<h3>Update 02/01/2010 ! version 0.8  is online and recording standard affiliate sales. Recruiter sales will begin recording in the next few days.</h3>	
<h3> When a purchase is made through one of your affiliate links you will receive an email with the purchase total.</h3>	
<h3><span style="color:red;">Due To Server Difficulties, our system did not record affiliate sales during the period 11/25/2009 to 02/01/2010. </span></h3>	
<h3>  You will receive credit for sales before that date. </h3>
<h3> We apologize for the inconvenience, but  have now corrected the problem. Thank you for your patience.</h3>	
    


