

<div style="margin: 4px 0pt 0pt 10px; width: 200px; background-image: url(/images/controls/slide_track.gif); background-repeat: repeat-x; background-position: left center; height: 18px;" id="main_print_track">
	<div style="width: 18px; height: 18px; left: 196px; position: relative;" id="main_print_handle" class="selected"><img src="/images/controls/slide_control.gif"/></div>
</div>



<div style="margin: 4px 0pt 0pt 10px; width: 200px; background-image: url(/images/controls/slide_track.gif); background-repeat: repeat-x; background-position: left center; height: 18px;" id="reverse_print_track">
	<div style="width: 18px; height: 18px; left: 196px; position: relative;" id="reverse_print_handle" class="selected"><img src="/images/controls/slide_control.gif"/></div>
</div>


<div style="border: 1px solid #ddd; width: 424px; overflow: auto;">

			  <div style="width: 190px; padding: 10px; float: left;">
			    <img class="main" src="/mugshots/0000/0009/6407l_o_rp.png"/>
			  </div>
			  
			  <div style="width: 190px; padding: 10px; float: left;">
			    <img class="reverse" src="/mugshots/0000/0009/6407l_o_rp.png"/>
			  </div>
  
</div> 



