




<script type="text/javascript">

      chooseSelected  = function() {

                 new Ajax.Updater('colors', '/purchases_entries/post_customer_changes' ,  {
                         parameters: { layout_customer_id: $('customer_id').value  }
                  });
          Modalbox.hide();
   }

  </script>


<div id='item_details_container'>
                 <%=   select("customer", "id", @work_order_customers.collect {|p| [ p.FirstName + ' ' +  p.LastName , p.id ] } ,{:selected =>     session[:layout_customer_id].to_i     } )  %>

           <br />
           <br />

           <div id="item_detail_buttons" style="text-align:center">
                    <%= image_tag(  '/images/buttons/cancel.png'  , :alt => 'Cancel' , :onclick => "Modalbox.hide();" ) %>
                    <%= image_tag(  '/images/buttons/confirm.png'  , :alt =>  'Confirm' , :onclick => "chooseSelected();" ) unless @purchases_entry_ids == ""  %>
           </div>



</div>

