<% @quote_tender_entry = quote_tender_entry %>

<h1>Editing quote_tender_entry</h1>

<%= render 'quote_tender_entries/remote_form' %>

<%= link_to 'Show', @quote_tender_entry %> |
<%= link_to 'Back', quote_tender_entries_path %>
