

<% light_gold_box do -%>   
	
			
			<p> Your order will be paid when it arrives via Money Order or Cashier's Check.  </p>
			
			
 <br />
	<%=link_to( image_tag( "/images/buttons/continue_button_gold.gif",:border => 0) ,:controller =>  'cart' , :action => 'next_checkout_step')  %>

<% end %>
