

<% light_gold_box do -%>   
	
			
			<p> Your order will be charged on your Net 30 Account.  </p>
			
			
 <br />
	<%=link_to( image_tag( "/images/buttons/continue_button_gold.gif",:border => 0) ,:controller => 'cart' , :action => 'next_checkout_step')  %>

<% end %>
