
<br><br>
<div style="text-align: center;">

        <h3>Forgot Password </h3>
        
        <%= form_tag url_for(:action => 'forgot_password') do %>
            What is the email address used to create your account? <br><br>
            <%= text_field_tag :email, "", :size => 50 %><br><br>
            <%= submit_tag 'Request  Password Reset Link' %>
        <% end %><br><br>
        A reset link will be sent to your email address.<br><br> <br><br>



        If you remember your password <%= link_to "click here to log-in", :controller => 'account', :action => 'login' %>   .<br><br>
</div>
