
       <div>
                                         <h2>Join our mailing list by entering your email address below:</h2>

                                         (We do not sell or exchange our customer's information.)

                                        <%= errors_for(@user, "Opps, unable to add new user").html_safe if @user %>

                                        <%= form_for  @user, :url => { :action => "join" } do |f| -%>

                                        <p><label for="email">Email</label>
                                        <%= f.text_field :email %></p>


                                           <br>
                                        <p><%= submit_tag 'Joing mailing list' %></p>

                                         <% end -%>
       </div>

