
<div class="ui-bar ui-bar-a" id="attention_window">
                              <h3 style="margin-top: 8px; width:100%;">Account notice: </h3>
                              <div style="margin-top: 4px; width:100%;">
                                                          <p style="clear: both; font-size: 85%; margin-bottom: 8px;">
                                                                                        <div id="error_div_id" class="flash flash_error">
                                                                                                          <p>You logged in using a retail username. <br>
                                                                                                            This website is for wholesale customers only. </p>
                                                                                                          <br>

                                                                                                          <p> If you would like to shop retail please visit <br>
                                                                                                            our website: <a href="http://tshirtsinabox.com">  TShirtsInABox.com</a>.  </p>

                                                                                                          <br>

                                                                                                          <p> If you would like to become a wholesale customer <br>
                                                                                                            please call: <%=  @website.phone %>  or create<br>
                                                                                                            a new account using a different email address. </p>

                                                                                                          <br>
                                                                                        </div>
                                                            </p>
                              </div>
</div>