<% if @buy_now %>
<p>
        <%= link_to(  image_tag( "/images/buttons/buy-now.png",:border => 0, :height => "60" )  ,  "/p/shopping" ) %>
</p>
<% end  %>

<p>
        <%= link_to(  image_tag( "/images/company_logos/payment-types.png",:border => 0, :class => "payment_image" )  ,  "/p/paypal-accepted" ) %>
</p>


