

.float_50 {
    float: left;
}
.float_100 {
    float: left;
}

.carousel_link_container_100 {
    width: 100%;
    float: left;;
}
.carousel_link_container_50 {
    width: 50%;
    float: left;;
}







#throbber{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
}
#throbber img {
    height: 150px;
}

.the_options {
        background-color: lightyellow;
        text-align: center;
        min-height: 35px;
        font-size: 16px;
        font-weight: bold;
         line-height: 35px;
}





.jstree-leaf > a > .jstree-themeicon {
    /*display:none !important;*/
    background-position: -107px -74px  !important;
}

.jstree-default .jstree-node {
    margin-left:15px;}


.ui-collapsible-content {
    padding:0px;
}

   .revisions {
      /*background-color: yellow;*/
   }

.article_subjects {
     /*background-color: green;*/
     margin: 0px;
    display: table;
    width: 100%;
 }


.ui-panel-wrapper {
    /*THIS CAN BE FOUND IN  LAYOUT_ELEMENTS/HEAD*/
    /*THIS CAN BE FOUND IN  LAYOUT_ELEMENTS/HEAD*/
    /*background: url(http://dixieoutfitters.com/images/backgrounds_no_repeat/now.jpg) !important;*/
    /*background-repeat:repeat-y;*/
    background-position:center center;
    background-attachment:scroll;
    background-size:100% 100%;
}
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}






.clear { clear: both; }


.tags {
    background:red;
    color:#fff;
    text-align: center;
}


#the_yield {
    margin-left:auto;
    margin-right:auto;
    /*overflow:hidden;*/
}

.admin_hidden {
    display:none;
}

/*#items_menu {*/
    /*text-align: center;*/
/*}*/

#update_quantities {
    display:none;
}


.information_bar {
    width: 100%;text-align: center;
    float:left;
}

img {
    max-width: 100%;
}


.show_specsheet {
    max-width:850px;
    margin-left: auto;
    margin-right: auto;
}

.specsheet_admin {
    border-top:15px solid;
    display: none;
    width:100%;
}


.highlight{
    background-color: yellow;
}

.page_name{
    background:url(/images/backgrounds_repeating/belt_floral_red.jpg);
    border-style:solid;
    border-width:10px;
    border-color: goldenrod;
    padding:5px;
    color:white
}

.page_name a {
    color:white
}



/*.show {*/
    /*width: 850px;*/
/*}*/

.show {
    /*background-color: black;*/
    /*width: 100%;*/
    max-width:720px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}


@media ( max-width: 399px ) {
    .show {
        /*background-color: yellow;*/
        /*width: 100%;*/
    }
}



@media ( min-width: 400px)  and (max-width:767px ) {
    .show {
        /*background-color: blue;*/
        /*width: 100%;*/
    }
}


@media ( min-width: 767px)  {
    .show {
        /*background-color: teal;*/
        /*width: 850px;*/
    }
}


.show img {
    /*max-width: 100%;*/
}


.show_page  img {
    max-width: 100%;
    height: auto;
}

.show_page  {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    max-width: 100%;
    height: auto;
    /*border: 9px double #F0FFFF;*/
    /*overflow: hidden;*/
    /*-webkit-box-shadow:inset 0 0 45px #383838;*/
    /*-moz-box-shadow:inset 0 0 45px #383838;*/
    /*box-shadow:inset 0 0 45px lightslategray, 0px 0px 10px 5px lightgray;*/
    /*Below are just styles I need for demonstration*/
    /*margin-top: 15px;*/
}