          category items menu


<div class="design_options" style="display: none;text-align: center;">
    Please complete your chosen item by finding a design.<br>

  <!--<a href="#designs_panel" data-role="button" data-icon="arrow-l" data-iconpos="left" data-theme="b">Open Designs </a>-->

</div>


<div class="item_options" style="display: none;text-align: center;">
  Please complete your chosen design  by finding a item.<br>
  <!--<a href="#items_panel" data-role="button" data-icon="arrow-l" data-iconpos="left" data-theme="b">Open Items </a>-->

</div>




<div class="all_options" style="display: none;">
Begin shopping by browsing for a item: <a href="#items_panel" data-role="button" data-icon="arrow-l" data-iconpos="left" data-theme="b">Open Items </a> <br>

or browse for a design:  <a href="#designs_panel" data-role="button" data-icon="arrow-l" data-iconpos="left" data-theme="b">Open Designs </a>

</div>




    <div  class="symbiote_choices">

                    <div id="symbiote_container" class="symbiote_container">
                      <div class="symbiote_thumbnail_container"  id="symbiote_thumbnail_container">
                        <%# item =   @purchase.symbiote.item  %>
                        <%#=   image_tag( item.image_url( @purchase.symbiote.master_department_id  ,'item_thumbnails/','x') ,:style => "height:85px;" )    %>
                      </div>
                      <div class="symbiote_details_container">
                        <div class="symbiote_message_row">
                          <div class="symbiote_message_container" id="symbiote_message_container">
                            Please find a design for your chosen item.
                          </div>
                        </div>
                        <div class="symbiote_description_row">
                          <div class="symbiote_description_container"  id="symbiote_description_container">
                            <%#= item.ItemLookupCode %>
                            <%#= item.description_before_color_and_size %>
                            <%#= item.dimensions  %>
                          </div>
                          .</div>
                      </div>
                    </div>


                  <ul data-role="listview" id="symbiote_menu" class="symbiote_menu">
                    <li id="open_choice" class="open_choice"><a href='#items_panel'>..Open items..</a></li>
                    <li><a href="/cart/place_incomplete_symbiont_on_hold">Place on hold</a></li>
                    <li><a href="/cart/delete_incomplete_symbiote">Delete from cart</a></li>
                  </ul>
      </div>
