<div style="float:left; height:353px; width:850px;">

				<div style="position: absolute; height:0px; width:0px; z-index: 2;">
						<img src="/images/item_specsheets/11001_lmrp_ash.png" style="left:300px; top:100px;"  id="11001_lmrp_ash">
				</div>
				
				<div style="position: absolute; height:0px; width:0px; z-index: 3;">			
						<img src='/mugshots/0000/0009/6407l_o_rp.png' style="left:300px; top:100px;" class='moveable'  id="6407l_o_rp">
				</div>
				
				<div style="position: absolute; height:0px; width:0px; z-index: 4;">
						<img src='/mugshots/0000/0011/6334l_o_rp.png' style="left:600px; top:100px;" class='moveable'  id="6334l_o_rp">		
				</div>
				
				<div style="position: absolute; height:0px; width:0px; z-index: 5;" id="mask">
								<img src= "/images/item_masks/11012_orange_mask.png"  style="left:0px; top:0px;" class='mask'>		
				</div>
	
</div>

<br><br><br>

<a href="#" onclick="zoom('-','6407l_o_rp' )">Smaller</a> |
<a href="#" onclick="zoom('+','6407l_o_rp' )">Bigger</a>

<div style="float:left;">
		lefts place:<div id="lpos" style="float:left;"></div>
		rights place:<div id="rpos" style="float:left;"></div>
</div>

<%= render "bottom_javascript" %>	




################################################
TRUE BEFORE IS BELOW









<div style="float:left; height:353px; width:850px;">


				<div style="height:0px; width:0px;">
						<img src="/images/item_specsheets/11001_lmrp_ash.png" style="left:300px; top:100px;"  id="11001_lmrp_ash">
				</div>
				
				<div style="height:0px; width:0px;">			
						<img src='/mugshots/0000/0009/6407l_o_rp.png' style="left:300px; top:100px;" class='moveable'  id="6407l_o_rp">
				</div>
				
				<div style="height:0px; width:0px;">
						<img src='/mugshots/0000/0011/6334l_o_rp.png' style="left:600px; top:100px;" class='moveable'  id="6334l_o_rp">		
				</div>
				
	
						<img src= "/images/item_masks/11012_orange_mask.png"  style="left:0px; top:0px;" class='mask'  id="mask">		

				
				
</div>


<a href="#" onclick="zoom('-','6407l_o_rp' )">Smaller</a> |
<a href="#" onclick="zoom('+','6407l_o_rp' )">Bigger</a>

<div style="float:left;">
		lefts place:<div id="lpos" style="float:left;"></div>
		rights place:<div id="rpos" style="float:left;"></div>
</div>

<% render "bottom_javascript" %>	

	
<% if @trash %>


<div style="float:left; height:353px; width:850px;">


				<div style="height:0px; width:0px;">
						<img src="/images/item_specsheets/11001_lmrp_ash.png" style="left:300px; top:100px;"  id="11001_lmrp_ash">
				</div>
				
				<div style="height:0px; width:0px;">			
						<img src='/mugshots/0000/0009/6407l_o_rp.png' style="left:300px; top:100px;" class='moveable'  id="6407l_o_rp">
				</div>
				
				<div style="height:0px; width:0px;">
						<img src='/mugshots/0000/0011/6334l_o_rp.png' style="left:600px; top:100px;" class='moveable'  id="6334l_o_rp">		
				</div>
				
				<div style="height:353px; width:850px;">
						<img src= "/images/item_masks/11012_orange_mask.png"  style="left:0px; top:0px;" class='mask'  id="mask">		
				</div>
				
				
</div>


				<div style="height:0px; width:0px;">
						<img src="/images/item_specsheets/11001_lmrp_ash.png" style="left:300px; top:100px;  z-index: 1;"  id="11001_lmrp_ash">
				</div>
				
				<div style="height:0px; width:0px;">			
						<img src='/mugshots/0000/0009/6407l_o_rp.png' style="left:300px; top:100px;  z-index: 2;" class='moveable'  id="6407l_o_rp">
				</div>
				
				<div style="height:0px; width:0px;">
						<img src='/mugshots/0000/0011/6334l_o_rp.png' style="left:600px; top:100px;  z-index: 3;" class='moveable'  id="6334l_o_rp">		
				</div>
				
				<div style="height:0px; width:0px;">
						<img src= "/images/item_masks/11012_orange_mask.png"  style="left:0px; top:0px; z-index: 6;" class='mask'  id="mask">		
				</div>
				



				   document.getElementById('6407l_o_rp').style.left='0px';
				   document.getElementById('6407l_o_rp').style.top='0px';

			<div id="reverse_print" style="height:0px; width: 0px; left:600px; top:100px;  float:left;  z-index: 2;" class='moveable'  id="6334l_o_rp">
							<img src='http://localhost:1000/mugshots/0000/0011/6334l_o_rp.png'>
			</div>			

			<div id="main_print" style="height:0px; width: 0px; left:300px; top:100px;  float:left;  z-index: 2;" class='moveable'  id="6407l_o_rp">
								<img src='/mugshots/0000/0009/6407l_o_rp.png'>
			</div>


<a href"#" onclick="doThis(); return false;">Do Something</a>

			<div id="mask" style="top:-353px; height:353px; float:left; position:relative;  z-index: 6;" class="otherstuff">
			<img src= "/images/item_masks/11012_orange_mask.png"
			</div>


				<div id="reverse_print" style="height:0px;position: relative;z-index: 5;"  class='moveable'>
			<img src='http://localhost:1000/mugshots/0000/0011/6334l_o_rp.png' style="left:500px;">
			</div>
<% end %>