


<table class="purchase_totals" width="850" border="0" cellspacing="0" cellpadding="0">
        <tr><td>Total</td><td><%=   @viewable_purchase.Total   %></td></tr>
        <tr><td>Shipping Charge On Order </td><td><%=   @viewable_purchase.ShippingChargeOnOrder   %></td></tr>
        <tr><td> Final Total  </td><td><%=   @viewable_purchase.final_total   %></td></tr>
</table>



<br />

