------------------------------------------
HIGH RES VERSIONS:

MODEL IMAGE:
1000 PX WIDE X 1275 PX HIGH

GARMENT FLAT SHOT:
1000 PX WIDE BY  772 PX HIGH
------------------------------------------

WEB VERSIONS:

MODEL IMAGE:
UNKNOWN

GARMENT FLAT SHOT -(BOTH SIDES)
850 WIDE BY 328 HIGH
