

		<div class="department_introduction" >     
				<%= link_to(image_tag( '/images/departments/' + department.Name + '.png'),{ :controller => 'browse', :department_id => department.id })   %>
		</div>
		
