
					<div class="item_specsheet_box">
							<%=  image_tag( item.image_url( item.department, 'item_thumbnails/','x'  )  , :size => "150x150") %><br />
							<%=  item.ItemLookupCode   %><br />
							<%=  image_tag(  item.opacity_football ,:size => "20"  )  %>
					</div>
