

<div class="categories_container">
		<% if @departments  %>	
									<% for department  in @departments %>
												<%=  render(:partial => "item_reports/item_reports_department_categories", :locals => {:department => department } )     %>
									<% end %>
		<% else %>
					'please select some departments'
		<% end %>
</div>

