<% logger.debug "-------------------------------------start category_box" %>


<li class="category_box">
                <%=    link_to(  item.category.Name.camelize,  :controller => "store", :action => 'index', :department_id =>  department.id  ,  :category_id => category.id  )  %> <br/>
                <!--<span class="category_box_more" style="color:red;">-->
                             <!--<%#=    link_to(  "Click for More",  :controller => "store", :action => 'index' , :department_id =>  department.id  ,  :category_id => category.id  )  %>-->
                 <!--</span>-->

           <% logger.debug "---------------item.category----------------------#{item.category}" %>
            <% logger.debug "-----------------item.category.category_class.item_type--------------------#{item.category.category_class.item_type}"  %>

                      <%= link_to( image_tag( item.image_url( department, '/images/item_thumbnails/','x' )  , :class => 'category_box_thumbnail'  )  ,  :controller => "store", :action => 'index' , :department_id =>  department.id  ,  :category_id => category.id  )  %>

</li>

<% logger.debug "------------------------------------- end category_box" %>
