

      <%  if @department and @category %>
                                <div role="main" class="ui-content responsive_listview_grid revisions">
                                                             <%= render :partial => "category_items" %>
                                  </div>
    <% end %>





