

<div style="width: 100%;font-size: 18px;text-align: center;padding: 20px;margin:20px;">
  Thanks for sharing!   <br>
  <a href="#" onclick="self.close()">You may now close this window.</a>   <br>

</div>







    <script type="text/javascript">self.close();</script>

