
<div style="font-weight: normal; text-align: center;width:100%;">

<h2>Sublimation transfer explaination</h2>


Sublmiation transfers blah blah transfers blah blah <br>
Sublmiation transfers blah blah transfers blah blah <br>
Sublmiation transfers blah blah transfers blah blah <br>
Sublmiation transfers blah blah transfers blah blah <br>
Sublmiation transfers blah blah transfers blah blah <br>
  <br>
  <br>
  <a href="#" data-rel="back" class="ui-btn" style="width: 80%;">Ok, I get it</a>

</div>


